## Initial imports

In [9]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [10]:
from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

PATH='/home/paperspace/data/rc/'

## Dataset

In [11]:
table_names = ['train', 'validation']

In [12]:
tables = [pd.read_csv(f'{PATH}{fname}.csv', low_memory=False) for fname in table_names]

In [13]:
from IPython.display import HTML, display

In [14]:
for t in tables: display(t.head())

,start_year,start_month,user_id,signup_year,signup_month,postal0,postal1,postal2,postal3,gender,language,birthday,partner_id,previous_visit_count,sum_amount
0,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,7,2,0.0
1,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,12,0,0.0
2,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,16,1,0.0
3,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,19,0,0.0
4,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,20,8,0.0

,start_year,start_month,user_id,signup_year,signup_month,postal0,postal1,postal2,postal3,gender,language,birthday,partner_id,previous_visit_count,sum_amount
0,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,7,2,0.0
1,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,12,0,0.0
2,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,16,1,0.0
3,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,19,0,0.0
4,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,20,11,0.0

In [15]:
train, test = tables

In [16]:
train.head(5)

,start_year,start_month,user_id,signup_year,signup_month,postal0,postal1,postal2,postal3,gender,language,birthday,partner_id,previous_visit_count,sum_amount
0,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,7,2,0.0
1,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,12,0,0.0
2,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,16,1,0.0
3,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,19,0,0.0
4,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,20,8,0.0

In [18]:
train.tail(5)

,start_year,start_month,user_id,signup_year,signup_month,postal0,postal1,postal2,postal3,gender,language,birthday,partner_id,previous_visit_count,sum_amount
48660835,2018,12,44208,2018,11,3.0,8.0,0.0,0.0,1.0,1,1945.0,861,0,0.0
48660836,2018,12,44208,2018,11,3.0,8.0,0.0,0.0,1.0,1,1945.0,862,0,0.0
48660837,2018,12,44208,2018,11,3.0,8.0,0.0,0.0,1.0,1,1945.0,864,0,0.0
48660838,2018,12,44208,2018,11,3.0,8.0,0.0,0.0,1.0,1,1945.0,868,0,0.0
48660839,2018,12,44208,2018,11,3.0,8.0,0.0,0.0,1.0,1,1945.0,869,0,0.0

In [19]:
test.head(5)

,start_year,start_month,user_id,signup_year,signup_month,postal0,postal1,postal2,postal3,gender,language,birthday,partner_id,previous_visit_count,sum_amount
0,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,7,2,0.0
1,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,12,0,0.0
2,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,16,1,0.0
3,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,19,0,0.0
4,2019,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,20,11,0.0

## Remove NAN values

Next we'll fill in missing values to avoid complications with NA's. NA (not available) is how Pandas indicates missing values; many models have problems when missing values are present, so it's always important to think about how to deal with them. In these cases, we are picking an arbitrary signal value that doesn't otherwise appear in the data.

In [21]:
for df in (test, train):
    df['postal0'] = df.postal0.fillna(-1)
    df['postal1'] = df.postal1.fillna(-1)
    df['postal2'] = df.postal2.fillna(-1)
    df['postal3'] = df.postal3.fillna(-1)
    df['gender'] = df.gender.fillna(0)
    df['birthday'] = df.birthday.fillna(1000)

In [22]:
test.isnull().values.any()

False

In [23]:
train.isnull().values.any()

False

In [24]:
cat_vars = ['start_year', 'start_month', 'user_id', 'signup_year', 'signup_month', 'postal0', 'postal1', 'postal2', 'postal3', 'gender', 'language', 'birthday', 'partner_id']

contin_vars = ['previous_visit_count']

In [25]:
dep = 'sum_amount'

In [26]:
for v in cat_vars: train[v] = train[v].astype('category').cat.as_ordered()

In [27]:
apply_cats(test, train)

In [28]:
for v in contin_vars:
    train[v] = train[v].fillna(0).astype('float32')
    test[v] = test[v].fillna(0).astype('float32')

In [29]:
train.head()

,start_year,start_month,user_id,signup_year,signup_month,postal0,postal1,postal2,postal3,gender,language,birthday,partner_id,previous_visit_count,sum_amount
0,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,7,2.0,0.0
1,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,12,0.0,0.0
2,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,16,1.0,0.0
3,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,19,0.0,0.0
4,2017,1,1,2012,12,8.0,0.0,5.0,5.0,1.0,1,1984.0,20,8.0,0.0

In [30]:
n = len(train); n

48660840

Run this to run on a sample:

In [31]:
#idxs = get_cv_idxs(n, val_pct=150000/n)
#train_samp = train.iloc[idxs]
#samp_size = len(train_samp); samp_size

Run this to run on the full dataset:

In [32]:
#samp_size = n
#train_samp = train

In [33]:
#train_samp.head(5)

In [34]:
df, y, nas, mapper = proc_df(train, 'sum_amount', do_scale=True)
yl = np.log(y)

/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

In [35]:
df_test, _, nas, mapper = proc_df(test, 'sum_amount', do_scale=True,
                                  mapper=mapper, na_dict=nas)

In [36]:
df.head(5)

,start_year,start_month,user_id,signup_year,signup_month,postal0,postal1,postal2,postal3,gender,language,birthday,partner_id,previous_visit_count
0,1,1,1,1,12,9,2,7,7,2,1,48,1,1.853765
1,1,1,1,1,12,9,2,7,7,2,1,48,2,-0.059458
2,1,1,1,1,12,9,2,7,7,2,1,48,3,0.897153
3,1,1,1,1,12,9,2,7,7,2,1,48,4,-0.059458
4,1,1,1,1,12,9,2,7,7,2,1,48,5,7.593433

In [37]:
df_test.head(5)

,start_year,start_month,user_id,signup_year,signup_month,postal0,postal1,postal2,postal3,gender,language,birthday,partner_id,previous_visit_count
0,0,1,1,1,12,9,2,7,7,2,1,48,1,1.853765
1,0,1,1,1,12,9,2,7,7,2,1,48,2,-0.059458
2,0,1,1,1,12,9,2,7,7,2,1,48,3,0.897153
3,0,1,1,1,12,9,2,7,7,2,1,48,4,-0.059458
4,0,1,1,1,12,9,2,7,7,2,1,48,5,10.463267

Validation set indexes

In [45]:
#train_ratio = 0.75
# train_ratio = 0.9
#train_size = int(samp_size * train_ratio); train_size
#val_idx = list(range(train_size, len(df)))


train_size = len(train) - len(test)
val_idx = list(range(train_size, len(df)))

In [46]:
val_idx

[46633305,
 46633306,
 46633307,
 46633308,
 46633309,
 46633310,
 46633311,
 46633312,
 46633313,
 46633314,
 46633315,
 46633316,
 46633317,
 46633318,
 46633319,
 46633320,
 46633321,
 46633322,
 46633323,
 46633324,
 46633325,
 46633326,
 46633327,
 46633328,
 46633329,
 46633330,
 46633331,
 46633332,
 46633333,
 46633334,
 46633335,
 46633336,
 46633337,
 46633338,
 46633339,
 46633340,
 46633341,
 46633342,
 46633343,
 46633344,
 46633345,
 46633346,
 46633347,
 46633348,
 46633349,
 46633350,
 46633351,
 46633352,
 46633353,
 46633354,
 46633355,
 46633356,
 46633357,
 46633358,
 46633359,
 46633360,
 46633361,
 46633362,
 46633363,
 46633364,
 46633365,
 46633366,
 46633367,
 46633368,
 46633369,
 46633370,
 46633371,
 46633372,
 46633373,
 46633374,
 46633375,
 46633376,
 46633377,
 46633378,
 46633379,
 46633380,
 46633381,
 46633382,
 46633383,
 46633384,
 46633385,
 46633386,
 46633387,
 46633388,
 46633389,
 46633390,
 46633391,
 46633392,
 46633393,
 46633394,
 46633395,
 46633396,
 46633397,
 46633398,
 46633399,
 46633400,
 46633401,
 46633402,
 46633403,
 46633404,
 46633405,
 46633406,
 46633407,
 46633408,
 46633409,
 46633410,
 46633411,
 46633412,
 46633413,
 46633414,
 46633415,
 46633416,
 46633417,
 46633418,
 46633419,
 46633420,
 46633421,
 46633422,
 46633423,
 46633424,
 46633425,
 46633426,
 46633427,
 46633428,
 46633429,
 46633430,
 46633431,
 46633432,
 46633433,
 46633434,
 46633435,
 46633436,
 46633437,
 46633438,
 46633439,
 46633440,
 46633441,
 46633442,
 46633443,
 46633444,
 46633445,
 46633446,
 46633447,
 46633448,
 46633449,
 46633450,
 46633451,
 46633452,
 46633453,
 46633454,
 46633455,
 46633456,
 46633457,
 46633458,
 46633459,
 46633460,
 46633461,
 46633462,
 46633463,
 46633464,
 46633465,
 46633466,
 46633467,
 46633468,
 46633469,
 46633470,
 46633471,
 46633472,
 46633473,
 46633474,
 46633475,
 46633476,
 46633477,
 46633478,
 46633479,
 46633480,
 46633481,
 46633482,
 46633483,
 46633484,
 46633485,
 46633486,
 46633487,
 46633488,
 46633489,
 46633490,
 46633491,
 46633492,
 46633493,
 46633494,
 46633495,
 46633496,
 46633497,
 46633498,
 46633499,
 46633500,
 46633501,
 46633502,
 46633503,
 46633504,
 46633505,
 46633506,
 46633507,
 46633508,
 46633509,
 46633510,
 46633511,
 46633512,
 46633513,
 46633514,
 46633515,
 46633516,
 46633517,
 46633518,
 46633519,
 46633520,
 46633521,
 46633522,
 46633523,
 46633524,
 46633525,
 46633526,
 46633527,
 46633528,
 46633529,
 46633530,
 46633531,
 46633532,
 46633533,
 46633534,
 46633535,
 46633536,
 46633537,
 46633538,
 46633539,
 46633540,
 46633541,
 46633542,
 46633543,
 46633544,
 46633545,
 46633546,
 46633547,
 46633548,
 46633549,
 46633550,
 46633551,
 46633552,
 46633553,
 46633554,
 46633555,
 46633556,
 46633557,
 46633558,
 46633559,
 46633560,
 46633561,
 46633562,
 46633563,
 46633564,
 46633565,
 46633566,
 46633567,
 46633568,
 46633569,
 46633570,
 46633571,
 46633572,
 46633573,
 46633574,
 46633575,
 46633576,
 46633577,
 46633578,
 46633579,
 46633580,
 46633581,
 46633582,
 46633583,
 46633584,
 46633585,
 46633586,
 46633587,
 46633588,
 46633589,
 46633590,
 46633591,
 46633592,
 46633593,
 46633594,
 46633595,
 46633596,
 46633597,
 46633598,
 46633599,
 46633600,
 46633601,
 46633602,
 46633603,
 46633604,
 46633605,
 46633606,
 46633607,
 46633608,
 46633609,
 46633610,
 46633611,
 46633612,
 46633613,
 46633614,
 46633615,
 46633616,
 46633617,
 46633618,
 46633619,
 46633620,
 46633621,
 46633622,
 46633623,
 46633624,
 46633625,
 46633626,
 46633627,
 46633628,
 46633629,
 46633630,
 46633631,
 46633632,
 46633633,
 46633634,
 46633635,
 46633636,
 46633637,
 46633638,
 46633639,
 46633640,
 46633641,
 46633642,
 46633643,
 46633644,
 46633645,
 46633646,
 46633647,
 46633648,
 46633649,
 46633650,
 46633651,
 46633652,
 46633653,
 46633654,
 46633655,
 46633656,
 46633657,
 46633658,
 46633659,
 46633660,
 46633661,
 46633662,
 46633663,
 46633664,
 46633665,
 46633666,
 46633667,
 46633668,
 46633669,
 46633670,
 46633671,
 46633672,
 46633673,
 46633674,
 46633675,
 46633676,
 46633677,
 46633678,
 46633679,
 46633680,
 46633681,
 46633682,
 46633683,
 46633684,
 46633685,
 46633686,
 46633687,
 46633688,
 46633689,
 46633690,
 46633691,
 46633692,
 46633693,
 46633694,
 46633695,
 46633696,
 46633697,
 46633698,
 46633699,
 46633700,
 46633701,
 46633702,
 46633703,
 46633704,
 46633705,
 46633706,
 46633707,
 46633708,
 46633709,
 46633710,
 46633711,
 46633712,
 46633713,
 46633714,
 46633715,
 46633716,
 46633717,
 46633718,
 46633719,
 46633720,
 46633721,
 46633722,
 46633723,
 46633724,
 46633725,
 46633726,
 46633727,
 46633728,
 46633729,
 46633730,
 46633731,
 46633732,
 46633733,
 46633734,
 46633735,
 46633736,
 46633737,
 46633738,
 46633739,
 46633740,
 46633741,
 46633742,
 46633743,
 46633744,
 46633745,
 46633746,
 46633747,
 46633748,
 46633749,
 46633750,
 46633751,
 46633752,
 46633753,
 46633754,
 46633755,
 46633756,
 46633757,
 46633758,
 46633759,
 46633760,
 46633761,
 46633762,
 46633763,
 46633764,
 46633765,
 46633766,
 46633767,
 46633768,
 46633769,
 46633770,
 46633771,
 46633772,
 46633773,
 46633774,
 46633775,
 46633776,
 46633777,
 46633778,
 46633779,
 46633780,
 46633781,
 46633782,
 46633783,
 46633784,
 46633785,
 46633786,
 46633787,
 46633788,
 46633789,
 46633790,
 46633791,
 46633792,
 46633793,
 46633794,
 46633795,
 46633796,
 46633797,
 46633798,
 46633799,
 46633800,
 46633801,
 46633802,
 46633803,
 46633804,
 46633805,
 46633806,
 46633807,
 46633808,
 46633809,
 46633810,
 46633811,
 46633812,
 46633813,
 46633814,
 46633815,
 46633816,
 46633817,
 46633818,
 46633819,
 46633820,
 46633821,
 46633822,
 46633823,
 46633824,
 46633825,
 46633826,
 46633827,
 46633828,
 46633829,
 46633830,
 46633831,
 46633832,
 46633833,
 46633834,
 46633835,
 46633836,
 46633837,
 46633838,
 46633839,
 46633840,
 46633841,
 46633842,
 46633843,
 46633844,
 46633845,
 46633846,
 46633847,
 46633848,
 46633849,
 46633850,
 46633851,
 46633852,
 46633853,
 46633854,
 46633855,
 46633856,
 46633857,
 46633858,
 46633859,
 46633860,
 46633861,
 46633862,
 46633863,
 46633864,
 46633865,
 46633866,
 46633867,
 46633868,
 46633869,
 46633870,
 46633871,
 46633872,
 46633873,
 46633874,
 46633875,
 46633876,
 46633877,
 46633878,
 46633879,
 46633880,
 46633881,
 46633882,
 46633883,
 46633884,
 46633885,
 46633886,
 46633887,
 46633888,
 46633889,
 46633890,
 46633891,
 46633892,
 46633893,
 46633894,
 46633895,
 46633896,
 46633897,
 46633898,
 46633899,
 46633900,
 46633901,
 46633902,
 46633903,
 46633904,
 46633905,
 46633906,
 46633907,
 46633908,
 46633909,
 46633910,
 46633911,
 46633912,
 46633913,
 46633914,
 46633915,
 46633916,
 46633917,
 46633918,
 46633919,
 46633920,
 46633921,
 46633922,
 46633923,
 46633924,
 46633925,
 46633926,
 46633927,
 46633928,
 46633929,
 46633930,
 46633931,
 46633932,
 46633933,
 46633934,
 46633935,
 46633936,
 46633937,
 46633938,
 46633939,
 46633940,
 46633941,
 46633942,
 46633943,
 46633944,
 46633945,
 46633946,
 46633947,
 46633948,
 46633949,
 46633950,
 46633951,
 46633952,
 46633953,
 46633954,
 46633955,
 46633956,
 46633957,
 46633958,
 46633959,
 46633960,
 46633961,
 46633962,
 46633963,
 46633964,
 46633965,
 46633966,
 46633967,
 46633968,
 46633969,
 46633970,
 46633971,
 46633972,
 46633973,
 46633974,
 46633975,
 46633976,
 46633977,
 46633978,
 46633979,
 46633980,
 46633981,
 46633982,
 46633983,
 46633984,
 46633985,
 46633986,
 46633987,
 46633988,
 46633989,
 46633990,
 46633991,
 46633992,
 46633993,
 46633994,
 46633995,
 46633996,
 46633997,
 46633998,
 46633999,
 46634000,
 46634001,
 46634002,
 46634003,
 46634004,
 46634005,
 46634006,
 46634007,
 46634008,
 46634009,
 46634010,
 46634011,
 46634012,
 46634013,
 46634014,
 46634015,
 46634016,
 46634017,
 46634018,
 46634019,
 46634020,
 46634021,
 46634022,
 46634023,
 46634024,
 46634025,
 46634026,
 46634027,
 46634028,
 46634029,
 46634030,
 46634031,
 46634032,
 46634033,
 46634034,
 46634035,
 46634036,
 46634037,
 46634038,
 46634039,
 46634040,
 46634041,
 46634042,
 46634043,
 46634044,
 46634045,
 46634046,
 46634047,
 46634048,
 46634049,
 46634050,
 46634051,
 46634052,
 46634053,
 46634054,
 46634055,
 46634056,
 46634057,
 46634058,
 46634059,
 46634060,
 46634061,
 46634062,
 46634063,
 46634064,
 46634065,
 46634066,
 46634067,
 46634068,
 46634069,
 46634070,
 46634071,
 46634072,
 46634073,
 46634074,
 46634075,
 46634076,
 46634077,
 46634078,
 46634079,
 46634080,
 46634081,
 46634082,
 46634083,
 46634084,
 46634085,
 46634086,
 46634087,
 46634088,
 46634089,
 46634090,
 46634091,
 46634092,
 46634093,
 46634094,
 46634095,
 46634096,
 46634097,
 46634098,
 46634099,
 46634100,
 46634101,
 46634102,
 46634103,
 46634104,
 46634105,
 46634106,
 46634107,
 46634108,
 46634109,
 46634110,
 46634111,
 46634112,
 46634113,
 46634114,
 46634115,
 46634116,
 46634117,
 46634118,
 46634119,
 46634120,
 46634121,
 46634122,
 46634123,
 46634124,
 46634125,
 46634126,
 46634127,
 46634128,
 46634129,
 46634130,
 46634131,
 46634132,
 46634133,
 46634134,
 46634135,
 46634136,
 46634137,
 46634138,
 46634139,
 46634140,
 46634141,
 46634142,
 46634143,
 46634144,
 46634145,
 46634146,
 46634147,
 46634148,
 46634149,
 46634150,
 46634151,
 46634152,
 46634153,
 46634154,
 46634155,
 46634156,
 46634157,
 46634158,
 46634159,
 46634160,
 46634161,
 46634162,
 46634163,
 46634164,
 46634165,
 46634166,
 46634167,
 46634168,
 46634169,
 46634170,
 46634171,
 46634172,
 46634173,
 46634174,
 46634175,
 46634176,
 46634177,
 46634178,
 46634179,
 46634180,
 46634181,
 46634182,
 46634183,
 46634184,
 46634185,
 46634186,
 46634187,
 46634188,
 46634189,
 46634190,
 46634191,
 46634192,
 46634193,
 46634194,
 46634195,
 46634196,
 46634197,
 46634198,
 46634199,
 46634200,
 46634201,
 46634202,
 46634203,
 46634204,
 46634205,
 46634206,
 46634207,
 46634208,
 46634209,
 46634210,
 46634211,
 46634212,
 46634213,
 46634214,
 46634215,
 46634216,
 46634217,
 46634218,
 46634219,
 46634220,
 46634221,
 46634222,
 46634223,
 46634224,
 46634225,
 46634226,
 46634227,
 46634228,
 46634229,
 46634230,
 46634231,
 46634232,
 46634233,
 46634234,
 46634235,
 46634236,
 46634237,
 46634238,
 46634239,
 46634240,
 46634241,
 46634242,
 46634243,
 46634244,
 46634245,
 46634246,
 46634247,
 46634248,
 46634249,
 46634250,
 46634251,
 46634252,
 46634253,
 46634254,
 46634255,
 46634256,
 46634257,
 46634258,
 46634259,
 46634260,
 46634261,
 46634262,
 46634263,
 46634264,
 46634265,
 46634266,
 46634267,
 46634268,
 46634269,
 46634270,
 46634271,
 46634272,
 46634273,
 46634274,
 46634275,
 46634276,
 46634277,
 46634278,
 46634279,
 46634280,
 46634281,
 46634282,
 46634283,
 46634284,
 46634285,
 46634286,
 46634287,
 46634288,
 46634289,
 46634290,
 46634291,
 46634292,
 46634293,
 46634294,
 46634295,
 46634296,
 46634297,
 46634298,
 46634299,
 46634300,
 46634301,
 46634302,
 46634303,
 46634304,
 ...]

## DL

We're ready to put together our models.

Root-mean-squared percent error is the metric Kaggle used for this competition.

In [28]:
def inv_y(a): return np.exp(a)

def exp_rmspe(y_pred, targ):
    targ = inv_y(targ)
    pct_var = (targ - inv_y(y_pred))/targ
    return math.sqrt((pct_var**2).mean())

max_log_y = np.max(yl)
y_range = (0, max_log_y*1.2)