# Deep Learning For Rossmann Competition

## Goals

https://www.kaggle.com/c/rossmann-store-sales

Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance.
Rossmann is challenging you to predict 6 weeks of daily sales for 1,115 stores located across Germany.

Reliable sales forecasts enable store managers to create effective staff schedules that increase productivity and motivation.

## Evaluation

Submissions are evaluated on the Root Mean Square Percentage Error (RMSPE).

## Initial imports

In [4]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [5]:
from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

PATH='data/rossmann-store-sales-additional/'

## Dataset

The dataset can be found here: http://files.fast.ai/part2/lesson14/rossmann.tgz

- train: training set provided by competition
- store: list of stores
- store_states: mapping of store to the German state they are in
- state_names: list of German state names
- googletrend: trend of certain google keywords over time
- weather: weather info
- test: testing set

In [6]:
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather', 'test']

Load all of the csv files as dataframes into the list `tables`

In [7]:
tables = [pd.read_csv(f'{PATH}{fname}.csv', low_memory=False) for fname in table_names]

Displaying first couple of rows of each table

In [8]:
from IPython.display import HTML, display

In [9]:
for t in tables: display(t.head())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

Displaying summarized aggregate information on each table

In [10]:
# this line has a problem with newer version of pandas
#for t in tables: display(DataFrameSummary(t).summary())

## Data Cleaning and Feature Engineering

In [11]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [12]:
len(train),len(test)

(1017209, 41088)

Converting state holidays to boolean:

In [13]:
# please note - these lines throw a warning if they are executed twice
train.StateHoliday = ( train.StateHoliday != '0' )
test.StateHoliday = ( test.StateHoliday != '0')

Implementing a new function for joining tables on specific fields.

In [14]:
def join_df(left, right, left_join_field_name, right_join_field_name=None, right_duplicate_field_suffix='_y'):
    if right_join_field_name is None: right_join_field_name = left_join_field_name
    return left.merge(
        right,
        how='left',
        left_on=left_join_field_name,
        right_on=right_join_field_name,
        suffixes=('', right_duplicate_field_suffix)
    )

Join weather with state names

In [15]:
weather

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268
5,NordrheinWestfalen,2013-01-06,9,8,7,8,7,6,100,92,...,18.0,7.0,5.0,16,11,NaN,0.00,7.0,Rain,258
6,NordrheinWestfalen,2013-01-07,9,8,7,8,7,5,98,88,...,26.0,8.0,2.0,16,10,NaN,0.00,7.0,Rain,238
7,NordrheinWestfalen,2013-01-08,8,7,5,6,5,4,100,87,...,18.0,9.0,3.0,21,13,NaN,0.00,7.0,Rain,230
8,NordrheinWestfalen,2013-01-09,6,6,5,6,4,3,100,91,...,19.0,8.0,2.0,21,14,NaN,4.06,8.0,Rain,222
9,NordrheinWestfalen,2013-01-10,6,4,3,4,3,1,96,86,...,26.0,12.0,6.0,16,11,NaN,0.00,6.0,Rain,256
10,NordrheinWestfalen,2013-01-11,2,-1,-3,2,-3,-5,100,85,...,31.0,12.0,9.0,21,8,NaN,0.00,4.0,Fog-Rain-Snow,1
11,NordrheinWestfalen,2013-01-12,2,-2,-7,-3,-6,-8,100,79,...,31.0,17.0,10.0,16,6,NaN,0.00,2.0,NaN,106
12,NordrheinWestfalen,2013-01-13,1,-3,-6,-3,-6,-8,86,75,...,31.0,13.0,10.0,21,11,NaN,0.00,4.0,NaN,47
13,NordrheinWestfalen,2013-01-14,-2,-3,-5,-2,-5,-8,99,85,...,18.0,8.0,2.0,23,8,NaN,0.00,6.0,Snow,273
14,NordrheinWestfalen,2013-01-15,-1,-4,-7,-2,-4,-7,100,86,...,26.0,7.0,1.0,27,18,NaN,0.76,7.0,Snow,88
15,NordrheinWestfalen,2013-01-16,-3,-3,-4,-3,-4,-5,99,91,...,5.0,3.0,2.0,14,11,NaN,0.25,7.0,Snow,348
16,NordrheinWestfalen,2013-01-17,-2,-3,-4,-3,-4,-6,94,88,...,7.0,4.0,3.0,16,10,NaN,0.00,7.0,Rain-Snow,353
17,NordrheinWestfalen,2013-01-18,0,-2,-5,-3,-4,-7,94,82,...,31.0,11.0,8.0,21,11,NaN,0.00,6.0,Fog-Snow,64
18,NordrheinWestfalen,2013-01-19,-3,-4,-5,-5,-7,-9,80,74,...,26.0,13.0,10.0,26,18,NaN,0.00,7.0,NaN,61
19,NordrheinWestfalen,2013-01-20,0,-3,-7,-2,-6,-9,94,84,...,19.0,8.0,1.0,24,19,NaN,2.03,7.0,Rain-Snow,55
20,NordrheinWestfalen,2013-01-21,0,-1,-2,-1,-2,-3,100,91,...,7.0,5.0,2.0,16,11,NaN,0.00,7.0,Snow,118
21,NordrheinWestfalen,2013-01-22,1,-1,-3,-2,-3,-4,94,86,...,7.0,6.0,5.0,11,6,NaN,0.00,7.0,Snow,11
22,NordrheinWestfalen,2013-01-23,-1,-2,-3,-3,-4,-6,90,80,...,7.0,5.0,5.0,14,8,NaN,0.00,6.0,Snow,17
23,NordrheinWestfalen,2013-01-24,-2,-4,-6,-4,-6,-8,93,82,...,14.0,10.0,6.0,21,13,NaN,0.00,6.0,NaN,21
24,NordrheinWestfalen,2013-01-25,-2,-2,-3,-3,-4,-6,95,83,...,26.0,9.0,1.0,23,8,40.0,0.00,7.0,Fog-Rain-Snow,80
25,NordrheinWestfalen,2013-01-26,0,-2,-4,-1,-4,-6,100,81,...,26.0,11.0,3.0,34,24,48.0,0.00,7.0,Rain-Snow,158
26,NordrheinWestfalen,2013-01-27,4,2,-1,3,1,-2,95,86,...,26.0,12.0,5.0,35,21,53.0,3.05,7.0,Rain-Snow,174
27,NordrheinWestfalen,2013-01-28,6,3,0,3,2,-1,93,84,...,31.0,15.0,10.0,32,18,NaN,0.25,6.0,Rain,190
28,NordrheinWestfalen,2013-01-29,12,8,3,10,8,3,96,88,...,31.0,12.0,6.0,45,31,61.0,6.10,7.0,Rain,216
29,NordrheinWestfalen,2013-01-30,13,11,9,11,8,4,94,79,...,31.0,12.0,5.0,47,32,60.0,3.05,5.0,Rain-Thunderstorm,233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Saarland,2015-08-19,22,14,8,12,8,6,100,66,...,19.0,10.0,3.0,14,5,NaN,0.00,3.0,Fog,81
15811,Saarland,2015-08-20,25,18,11,13,9,5,94,58,...,31.0,24.0,10.0,10,5,NaN,0.00,1.0,NaN,48
15812,Saarland,2015-08-21,26,19,12,12,10,7,82,57,...,31.0,31.0,31.0,14,10,NaN,0.00,NaN,NaN,72
15813,Saarland,2015-08-22,26,19,13,12,8,5,72,49,...,31.0,31.0,31.0,21,13,NaN,0.00,NaN,NaN,75
15814,Saarland,2015-08-23,27,20,13,17,11,6,97,61,...,14.0,10.0,4.0,37,14,55.0,7.11,6.0,Rain,124
15815,Saarland,2015-08-24,19,17,15,17,14,9,98,83,...,31.0,12.0,3.0,32,13,48.0,7.11,6.0,Rain,177
15816,Saarland,2015-08-25,21,17,12,10,8,5,77,57,...,31.0,11.0,10.0,40,27,64.0,0.00,5.0,Rain,231
15817,Saarland,2015-08-26,26,19,12,13,9,7,72,51,...,10.0,10.0,10.0,21,13,NaN,0.00,5.0,NaN,186
15818,Saarland,2015-08-27,29,23,18,17,13,10,94,55,...,26.0,11.0,10.0,29,14,39.0,0.00,7.0,Rain,224
15819,Saarland,2015-08-28,19,18,16,18,17,15,100,93,...,31.0,8.0,2.0,18,11,NaN,5.08,7.0,Rain,266
15820,Saarland,2015-08-29,30,22,15,20,17,15,100,74,...,31.0,8.0,0.0,13,8,NaN,0.00,5.0,Fog,88
15821,Saarland,2015-08-30,32,25,18,19,16,12,96,58,...,31.0,28.0,26.0,19,10,NaN,0.00,NaN,NaN,183
15822,Saarland,2015-08-31,31,25,19,14,12,9,60,40,...,NaN,NaN,NaN,34,13,50.0,0.00,NaN,NaN,222
15823,Saarland,2015-09-01,21,18,14,18,15,12,99,83,...,26.0,11.0,1.0,34,8,NaN,5.08,5.0,Rain,281
15824,Saarland,2015-09-02,20,15,10,13,11,7,100,79,...,31.0,5.0,0.0,14,5,NaN,0.00,5.0,Fog-Rain,305
15825,Saarland,2015-09-03,20,15,10,13,9,5,94,68,...,31.0,16.0,10.0,23,8,NaN,0.00,4.0,NaN,272
15826,Saarland,2015-09-04,18,12,7,9,7,5,96,71,...,31.0,12.0,10.0,26,8,NaN,0.00,4.0,NaN,269
15827,Saarland,2015-09-05,16,10,5,9,7,5,100,76,...,31.0,12.0,6.0,24,10,NaN,0.25,6.0,Fog-Rain,278
15828,Saarland,2015-09-06,16,11,7,9,6,4,97,74,...,31.0,13.0,10.0,19,13,NaN,0.00,5.0,Rain,299
15829,Saarland,2015-09-07,16,10,5,11,8,4,99,82,...,31.0,14.0,7.0,14,6,NaN,0.25,6.0,Rain,291
15830,Saarland,2015-09-08,19,14,9,11,9,7,95,72,...,31.0,14.0,8.0,18,8,NaN,0.00,4.0,NaN,49
15831,Saarland,2015-09-09,20,14,9,11,7,5,93,65,...,31.0,18.0,10.0,23,16,NaN,0.00,2.0,NaN,61
15832,Saarland,2015-09-10,20,14,8,7,4,2,76,53,...,31.0,24.0,10.0,26,18,42.0,0.00,1.0,NaN,62
15833,Saarland,2015-09-11,21,14,7,8,6,2,87,58,...,31.0,20.0,10.0,21,13,NaN,0.00,6.0,NaN,71
15834,Saarland,2015-09-12,23,17,10,16,11,5,94,69,...,31.0,13.0,10.0,21,11,NaN,1.02,6.0,Rain,185
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,31.0,15.0,10.0,27,10,50.0,1.02,7.0,Rain,113
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,31.0,13.0,4.0,32,16,53.0,9.91,5.0,Rain-Thunderstorm,213
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,31.0,12.0,10.0,34,14,NaN,0.00,5.0,Rain,193
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,31.0,10.0,4.0,32,14,45.0,20.07,7.0,Rain-Thunderstorm,147
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,31.0,14.0,8.0,27,16,47.0,6.10,6.0,Rain,202

In [16]:
state_names

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

In [17]:
weather = join_df(weather, state_names, 'file', 'StateName')

In [18]:
weather

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,State
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,4.0,39,26,58.0,5.08,6.0,Rain,215,NordrheinWestfalen,NW
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,10.0,24,16,NaN,0.00,6.0,Rain,225,NordrheinWestfalen,NW
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,2.0,26,21,NaN,1.02,7.0,Rain,240,NordrheinWestfalen,NW
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,2.0,23,14,NaN,0.25,7.0,Rain,263,NordrheinWestfalen,NW
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,3.0,16,10,NaN,0.00,7.0,Rain,268,NordrheinWestfalen,NW
5,NordrheinWestfalen,2013-01-06,9,8,7,8,7,6,100,92,...,5.0,16,11,NaN,0.00,7.0,Rain,258,NordrheinWestfalen,NW
6,NordrheinWestfalen,2013-01-07,9,8,7,8,7,5,98,88,...,2.0,16,10,NaN,0.00,7.0,Rain,238,NordrheinWestfalen,NW
7,NordrheinWestfalen,2013-01-08,8,7,5,6,5,4,100,87,...,3.0,21,13,NaN,0.00,7.0,Rain,230,NordrheinWestfalen,NW
8,NordrheinWestfalen,2013-01-09,6,6,5,6,4,3,100,91,...,2.0,21,14,NaN,4.06,8.0,Rain,222,NordrheinWestfalen,NW
9,NordrheinWestfalen,2013-01-10,6,4,3,4,3,1,96,86,...,6.0,16,11,NaN,0.00,6.0,Rain,256,NordrheinWestfalen,NW
10,NordrheinWestfalen,2013-01-11,2,-1,-3,2,-3,-5,100,85,...,9.0,21,8,NaN,0.00,4.0,Fog-Rain-Snow,1,NordrheinWestfalen,NW
11,NordrheinWestfalen,2013-01-12,2,-2,-7,-3,-6,-8,100,79,...,10.0,16,6,NaN,0.00,2.0,NaN,106,NordrheinWestfalen,NW
12,NordrheinWestfalen,2013-01-13,1,-3,-6,-3,-6,-8,86,75,...,10.0,21,11,NaN,0.00,4.0,NaN,47,NordrheinWestfalen,NW
13,NordrheinWestfalen,2013-01-14,-2,-3,-5,-2,-5,-8,99,85,...,2.0,23,8,NaN,0.00,6.0,Snow,273,NordrheinWestfalen,NW
14,NordrheinWestfalen,2013-01-15,-1,-4,-7,-2,-4,-7,100,86,...,1.0,27,18,NaN,0.76,7.0,Snow,88,NordrheinWestfalen,NW
15,NordrheinWestfalen,2013-01-16,-3,-3,-4,-3,-4,-5,99,91,...,2.0,14,11,NaN,0.25,7.0,Snow,348,NordrheinWestfalen,NW
16,NordrheinWestfalen,2013-01-17,-2,-3,-4,-3,-4,-6,94,88,...,3.0,16,10,NaN,0.00,7.0,Rain-Snow,353,NordrheinWestfalen,NW
17,NordrheinWestfalen,2013-01-18,0,-2,-5,-3,-4,-7,94,82,...,8.0,21,11,NaN,0.00,6.0,Fog-Snow,64,NordrheinWestfalen,NW
18,NordrheinWestfalen,2013-01-19,-3,-4,-5,-5,-7,-9,80,74,...,10.0,26,18,NaN,0.00,7.0,NaN,61,NordrheinWestfalen,NW
19,NordrheinWestfalen,2013-01-20,0,-3,-7,-2,-6,-9,94,84,...,1.0,24,19,NaN,2.03,7.0,Rain-Snow,55,NordrheinWestfalen,NW
20,NordrheinWestfalen,2013-01-21,0,-1,-2,-1,-2,-3,100,91,...,2.0,16,11,NaN,0.00,7.0,Snow,118,NordrheinWestfalen,NW
21,NordrheinWestfalen,2013-01-22,1,-1,-3,-2,-3,-4,94,86,...,5.0,11,6,NaN,0.00,7.0,Snow,11,NordrheinWestfalen,NW
22,NordrheinWestfalen,2013-01-23,-1,-2,-3,-3,-4,-6,90,80,...,5.0,14,8,NaN,0.00,6.0,Snow,17,NordrheinWestfalen,NW
23,NordrheinWestfalen,2013-01-24,-2,-4,-6,-4,-6,-8,93,82,...,6.0,21,13,NaN,0.00,6.0,NaN,21,NordrheinWestfalen,NW
24,NordrheinWestfalen,2013-01-25,-2,-2,-3,-3,-4,-6,95,83,...,1.0,23,8,40.0,0.00,7.0,Fog-Rain-Snow,80,NordrheinWestfalen,NW
25,NordrheinWestfalen,2013-01-26,0,-2,-4,-1,-4,-6,100,81,...,3.0,34,24,48.0,0.00,7.0,Rain-Snow,158,NordrheinWestfalen,NW
26,NordrheinWestfalen,2013-01-27,4,2,-1,3,1,-2,95,86,...,5.0,35,21,53.0,3.05,7.0,Rain-Snow,174,NordrheinWestfalen,NW
27,NordrheinWestfalen,2013-01-28,6,3,0,3,2,-1,93,84,...,10.0,32,18,NaN,0.25,6.0,Rain,190,NordrheinWestfalen,NW
28,NordrheinWestfalen,2013-01-29,12,8,3,10,8,3,96,88,...,6.0,45,31,61.0,6.10,7.0,Rain,216,NordrheinWestfalen,NW
29,NordrheinWestfalen,2013-01-30,13,11,9,11,8,4,94,79,...,5.0,47,32,60.0,3.05,5.0,Rain-Thunderstorm,233,NordrheinWestfalen,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Saarland,2015-08-19,22,14,8,12,8,6,100,66,...,3.0,14,5,NaN,0.00,3.0,Fog,81,Saarland,SL
15811,Saarland,2015-08-20,25,18,11,13,9,5,94,58,...,10.0,10,5,NaN,0.00,1.0,NaN,48,Saarland,SL
15812,Saarland,2015-08-21,26,19,12,12,10,7,82,57,...,31.0,14,10,NaN,0.00,NaN,NaN,72,Saarland,SL
15813,Saarland,2015-08-22,26,19,13,12,8,5,72,49,...,31.0,21,13,NaN,0.00,NaN,NaN,75,Saarland,SL
15814,Saarland,2015-08-23,27,20,13,17,11,6,97,61,...,4.0,37,14,55.0,7.11,6.0,Rain,124,Saarland,SL
15815,Saarland,2015-08-24,19,17,15,17,14,9,98,83,...,3.0,32,13,48.0,7.11,6.0,Rain,177,Saarland,SL
15816,Saarland,2015-08-25,21,17,12,10,8,5,77,57,...,10.0,40,27,64.0,0.00,5.0,Rain,231,Saarland,SL
15817,Saarland,2015-08-26,26,19,12,13,9,7,72,51,...,10.0,21,13,NaN,0.00,5.0,NaN,186,Saarland,SL
15818,Saarland,2015-08-27,29,23,18,17,13,10,94,55,...,10.0,29,14,39.0,0.00,7.0,Rain,224,Saarland,SL
15819,Saarland,2015-08-28,19,18,16,18,17,15,100,93,...,2.0,18,11,NaN,5.08,7.0,Rain,266,Saarland,SL
15820,Saarland,2015-08-29,30,22,15,20,17,15,100,74,...,0.0,13,8,NaN,0.00,5.0,Fog,88,Saarland,SL
15821,Saarland,2015-08-30,32,25,18,19,16,12,96,58,...,26.0,19,10,NaN,0.00,NaN,NaN,183,Saarland,SL
15822,Saarland,2015-08-31,31,25,19,14,12,9,60,40,...,NaN,34,13,50.0,0.00,NaN,NaN,222,Saarland,SL
15823,Saarland,2015-09-01,21,18,14,18,15,12,99,83,...,1.0,34,8,NaN,5.08,5.0,Rain,281,Saarland,SL
15824,Saarland,2015-09-02,20,15,10,13,11,7,100,79,...,0.0,14,5,NaN,0.00,5.0,Fog-Rain,305,Saarland,SL
15825,Saarland,2015-09-03,20,15,10,13,9,5,94,68,...,10.0,23,8,NaN,0.00,4.0,NaN,272,Saarland,SL
15826,Saarland,2015-09-04,18,12,7,9,7,5,96,71,...,10.0,26,8,NaN,0.00,4.0,NaN,269,Saarland,SL
15827,Saarland,2015-09-05,16,10,5,9,7,5,100,76,...,6.0,24,10,NaN,0.25,6.0,Fog-Rain,278,Saarland,SL
15828,Saarland,2015-09-06,16,11,7,9,6,4,97,74,...,10.0,19,13,NaN,0.00,5.0,Rain,299,Saarland,SL
15829,Saarland,2015-09-07,16,10,5,11,8,4,99,82,...,7.0,14,6,NaN,0.25,6.0,Rain,291,Saarland,SL
15830,Saarland,2015-09-08,19,14,9,11,9,7,95,72,...,8.0,18,8,NaN,0.00,4.0,NaN,49,Saarland,SL
15831,Saarland,2015-09-09,20,14,9,11,7,5,93,65,...,10.0,23,16,NaN,0.00,2.0,NaN,61,Saarland,SL
15832,Saarland,2015-09-10,20,14,8,7,4,2,76,53,...,10.0,26,18,42.0,0.00,1.0,NaN,62,Saarland,SL
15833,Saarland,2015-09-11,21,14,7,8,6,2,87,58,...,10.0,21,13,NaN,0.00,6.0,NaN,71,Saarland,SL
15834,Saarland,2015-09-12,23,17,10,16,11,5,94,69,...,10.0,21,11,NaN,1.02,6.0,Rain,185,Saarland,SL
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,10.0,27,10,50.0,1.02,7.0,Rain,113,Saarland,SL
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,4.0,32,16,53.0,9.91,5.0,Rain-Thunderstorm,213,Saarland,SL
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,10.0,34,14,NaN,0.00,5.0,Rain,193,Saarland,SL
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,4.0,32,14,45.0,20.07,7.0,Rain-Thunderstorm,147,Saarland,SL
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,8.0,27,16,47.0,6.10,6.0,Rain,202,Saarland,SL

Adding date and state field to the googletrend dataframe.

In [19]:
googletrend

                file                     week  trend
0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4     Rossmann_DE_SN  2012-12-30 - 2013-01-05     67
5     Rossmann_DE_SN  2013-01-06 - 2013-01-12     71
6     Rossmann_DE_SN  2013-01-13 - 2013-01-19     53
7     Rossmann_DE_SN  2013-01-20 - 2013-01-26     58
8     Rossmann_DE_SN  2013-01-27 - 2013-02-02     55
9     Rossmann_DE_SN  2013-02-03 - 2013-02-09     55
10    Rossmann_DE_SN  2013-02-10 - 2013-02-16     58
11    Rossmann_DE_SN  2013-02-17 - 2013-02-23     65
12    Rossmann_DE_SN  2013-02-24 - 2013-03-02     48
13    Rossmann_DE_SN  2013-03-03 - 2013-03-09     51
14    Rossmann_DE_SN  2013-03-10 - 2013-03-16     50
15    Rossmann_DE_SN  2013-03-17 - 2013-03-23     58
16    Rossmann_DE_SN  2013-03-24 - 2013-03-30     54
17    Rossmann_DE_SN  2013-03-31 - 2013-04-06     55
18    Rossmann_DE_SN  2013-04-07 - 2013-04-13     64
19    Rossmann_DE_SN  2013-04-14 - 2013-04-20     47
20    Rossmann_DE_SN  2013-04-21 - 2013-04-27     51
21    Rossmann_DE_SN  2013-04-28 - 2013-05-04     47
22    Rossmann_DE_SN  2013-05-05 - 2013-05-11     57
23    Rossmann_DE_SN  2013-05-12 - 2013-05-18     64
24    Rossmann_DE_SN  2013-05-19 - 2013-05-25     54
25    Rossmann_DE_SN  2013-05-26 - 2013-06-01     67
26    Rossmann_DE_SN  2013-06-02 - 2013-06-08     45
27    Rossmann_DE_SN  2013-06-09 - 2013-06-15     55
28    Rossmann_DE_SN  2013-06-16 - 2013-06-22     67
29    Rossmann_DE_SN  2013-06-23 - 2013-06-29     56
...              ...                      ...    ...
2042  Rossmann_DE_SL  2015-03-08 - 2015-03-14     60
2043  Rossmann_DE_SL  2015-03-15 - 2015-03-21     61
2044  Rossmann_DE_SL  2015-03-22 - 2015-03-28     80
2045  Rossmann_DE_SL  2015-03-29 - 2015-04-04     61
2046  Rossmann_DE_SL  2015-04-05 - 2015-04-11     67
2047  Rossmann_DE_SL  2015-04-12 - 2015-04-18     58
2048  Rossmann_DE_SL  2015-04-19 - 2015-04-25     67
2049  Rossmann_DE_SL  2015-04-26 - 2015-05-02     86
2050  Rossmann_DE_SL  2015-05-03 - 2015-05-09     70
2051  Rossmann_DE_SL  2015-05-10 - 2015-05-16     77
2052  Rossmann_DE_SL  2015-05-17 - 2015-05-23     77
2053  Rossmann_DE_SL  2015-05-24 - 2015-05-30     78
2054  Rossmann_DE_SL  2015-05-31 - 2015-06-06     95
2055  Rossmann_DE_SL  2015-06-07 - 2015-06-13     90
2056  Rossmann_DE_SL  2015-06-14 - 2015-06-20    100
2057  Rossmann_DE_SL  2015-06-21 - 2015-06-27     70
2058  Rossmann_DE_SL  2015-06-28 - 2015-07-04     83
2059  Rossmann_DE_SL  2015-07-05 - 2015-07-11     53
2060  Rossmann_DE_SL  2015-07-12 - 2015-07-18     53
2061  Rossmann_DE_SL  2015-07-19 - 2015-07-25     50
2062  Rossmann_DE_SL  2015-07-26 - 2015-08-01     69
2063  Rossmann_DE_SL  2015-08-02 - 2015-08-08     88
2064  Rossmann_DE_SL  2015-08-09 - 2015-08-15     68
2065  Rossmann_DE_SL  2015-08-16 - 2015-08-22     81
2066  Rossmann_DE_SL  2015-08-23 - 2015-08-29     48
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05     95
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12     47
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19     80
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26     57
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03      0

[2072 rows x 3 columns]

In pandas you can add new columns to a dataframe by simply defining it. We'll do this for googletrends by extracting dates and state names from the given data and adding those columns.

We're also going to replace all instances of state name 'NI' to match the usage in the rest of the data: 'HB,NI'. This is a good opportunity to highlight pandas indexing. We can use .loc[rows, cols] to select a list of rows and a list of columns from the dataframe. In this case, we're selecting rows w/ statename 'NI' by using a boolean list googletrend.State=='NI' and selecting "State".

In [20]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

In [21]:
googletrend

                file                     week  trend        Date State
0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4     Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN
5     Rossmann_DE_SN  2013-01-06 - 2013-01-12     71  2013-01-06    SN
6     Rossmann_DE_SN  2013-01-13 - 2013-01-19     53  2013-01-13    SN
7     Rossmann_DE_SN  2013-01-20 - 2013-01-26     58  2013-01-20    SN
8     Rossmann_DE_SN  2013-01-27 - 2013-02-02     55  2013-01-27    SN
9     Rossmann_DE_SN  2013-02-03 - 2013-02-09     55  2013-02-03    SN
10    Rossmann_DE_SN  2013-02-10 - 2013-02-16     58  2013-02-10    SN
11    Rossmann_DE_SN  2013-02-17 - 2013-02-23     65  2013-02-17    SN
12    Rossmann_DE_SN  2013-02-24 - 2013-03-02     48  2013-02-24    SN
13    Rossmann_DE_SN  2013-03-03 - 2013-03-09     51  2013-03-03    SN
14    Rossmann_DE_SN  2013-03-10 - 2013-03-16     50  2013-03-10    SN
15    Rossmann_DE_SN  2013-03-17 - 2013-03-23     58  2013-03-17    SN
16    Rossmann_DE_SN  2013-03-24 - 2013-03-30     54  2013-03-24    SN
17    Rossmann_DE_SN  2013-03-31 - 2013-04-06     55  2013-03-31    SN
18    Rossmann_DE_SN  2013-04-07 - 2013-04-13     64  2013-04-07    SN
19    Rossmann_DE_SN  2013-04-14 - 2013-04-20     47  2013-04-14    SN
20    Rossmann_DE_SN  2013-04-21 - 2013-04-27     51  2013-04-21    SN
21    Rossmann_DE_SN  2013-04-28 - 2013-05-04     47  2013-04-28    SN
22    Rossmann_DE_SN  2013-05-05 - 2013-05-11     57  2013-05-05    SN
23    Rossmann_DE_SN  2013-05-12 - 2013-05-18     64  2013-05-12    SN
24    Rossmann_DE_SN  2013-05-19 - 2013-05-25     54  2013-05-19    SN
25    Rossmann_DE_SN  2013-05-26 - 2013-06-01     67  2013-05-26    SN
26    Rossmann_DE_SN  2013-06-02 - 2013-06-08     45  2013-06-02    SN
27    Rossmann_DE_SN  2013-06-09 - 2013-06-15     55  2013-06-09    SN
28    Rossmann_DE_SN  2013-06-16 - 2013-06-22     67  2013-06-16    SN
29    Rossmann_DE_SN  2013-06-23 - 2013-06-29     56  2013-06-23    SN
...              ...                      ...    ...         ...   ...
2042  Rossmann_DE_SL  2015-03-08 - 2015-03-14     60  2015-03-08    SL
2043  Rossmann_DE_SL  2015-03-15 - 2015-03-21     61  2015-03-15    SL
2044  Rossmann_DE_SL  2015-03-22 - 2015-03-28     80  2015-03-22    SL
2045  Rossmann_DE_SL  2015-03-29 - 2015-04-04     61  2015-03-29    SL
2046  Rossmann_DE_SL  2015-04-05 - 2015-04-11     67  2015-04-05    SL
2047  Rossmann_DE_SL  2015-04-12 - 2015-04-18     58  2015-04-12    SL
2048  Rossmann_DE_SL  2015-04-19 - 2015-04-25     67  2015-04-19    SL
2049  Rossmann_DE_SL  2015-04-26 - 2015-05-02     86  2015-04-26    SL
2050  Rossmann_DE_SL  2015-05-03 - 2015-05-09     70  2015-05-03    SL
2051  Rossmann_DE_SL  2015-05-10 - 2015-05-16     77  2015-05-10    SL
2052  Rossmann_DE_SL  2015-05-17 - 2015-05-23     77  2015-05-17    SL
2053  Rossmann_DE_SL  2015-05-24 - 2015-05-30     78  2015-05-24    SL
2054  Rossmann_DE_SL  2015-05-31 - 2015-06-06     95  2015-05-31    SL
2055  Rossmann_DE_SL  2015-06-07 - 2015-06-13     90  2015-06-07    SL
2056  Rossmann_DE_SL  2015-06-14 - 2015-06-20    100  2015-06-14    SL
2057  Rossmann_DE_SL  2015-06-21 - 2015-06-27     70  2015-06-21    SL
2058  Rossmann_DE_SL  2015-06-28 - 2015-07-04     83  2015-06-28    SL
2059  Rossmann_DE_SL  2015-07-05 - 2015-07-11     53  2015-07-05    SL
2060  Rossmann_DE_SL  2015-07-12 - 2015-07-18     53  2015-07-12    SL
2061  Rossmann_DE_SL  2015-07-19 - 2015-07-25     50  2015-07-19    SL
2062  Rossmann_DE_SL  2015-07-26 - 2015-08-01     69  2015-07-26    SL
2063  Rossmann_DE_SL  2015-08-02 - 2015-08-08     88  2015-08-02    SL
2064  Rossmann_DE_SL  2015-08-09 - 2015-08-15     68  2015-08-09    SL
2065  Rossmann_DE_SL  2015-08-16 - 2015-08-22     81  2015-08-16    SL
2066  Rossmann_DE_SL  2015-08-23 - 2015-08-29     48  2015-08-23    SL
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05     95  2015-08-30    SL
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12     47  2015-09-06    SL
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19     80  2015-09-13    SL
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26     57  2015-09-20    SL
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03      0  2015-09-27    SL

[2072 rows x 5 columns]

Extracting particular date fields from a complete datetime for a purpose of constructing categories.

In [22]:
weather

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,State
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,4.0,39,26,58.0,5.08,6.0,Rain,215,NordrheinWestfalen,NW
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,10.0,24,16,NaN,0.00,6.0,Rain,225,NordrheinWestfalen,NW
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,2.0,26,21,NaN,1.02,7.0,Rain,240,NordrheinWestfalen,NW
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,2.0,23,14,NaN,0.25,7.0,Rain,263,NordrheinWestfalen,NW
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,3.0,16,10,NaN,0.00,7.0,Rain,268,NordrheinWestfalen,NW
5,NordrheinWestfalen,2013-01-06,9,8,7,8,7,6,100,92,...,5.0,16,11,NaN,0.00,7.0,Rain,258,NordrheinWestfalen,NW
6,NordrheinWestfalen,2013-01-07,9,8,7,8,7,5,98,88,...,2.0,16,10,NaN,0.00,7.0,Rain,238,NordrheinWestfalen,NW
7,NordrheinWestfalen,2013-01-08,8,7,5,6,5,4,100,87,...,3.0,21,13,NaN,0.00,7.0,Rain,230,NordrheinWestfalen,NW
8,NordrheinWestfalen,2013-01-09,6,6,5,6,4,3,100,91,...,2.0,21,14,NaN,4.06,8.0,Rain,222,NordrheinWestfalen,NW
9,NordrheinWestfalen,2013-01-10,6,4,3,4,3,1,96,86,...,6.0,16,11,NaN,0.00,6.0,Rain,256,NordrheinWestfalen,NW
10,NordrheinWestfalen,2013-01-11,2,-1,-3,2,-3,-5,100,85,...,9.0,21,8,NaN,0.00,4.0,Fog-Rain-Snow,1,NordrheinWestfalen,NW
11,NordrheinWestfalen,2013-01-12,2,-2,-7,-3,-6,-8,100,79,...,10.0,16,6,NaN,0.00,2.0,NaN,106,NordrheinWestfalen,NW
12,NordrheinWestfalen,2013-01-13,1,-3,-6,-3,-6,-8,86,75,...,10.0,21,11,NaN,0.00,4.0,NaN,47,NordrheinWestfalen,NW
13,NordrheinWestfalen,2013-01-14,-2,-3,-5,-2,-5,-8,99,85,...,2.0,23,8,NaN,0.00,6.0,Snow,273,NordrheinWestfalen,NW
14,NordrheinWestfalen,2013-01-15,-1,-4,-7,-2,-4,-7,100,86,...,1.0,27,18,NaN,0.76,7.0,Snow,88,NordrheinWestfalen,NW
15,NordrheinWestfalen,2013-01-16,-3,-3,-4,-3,-4,-5,99,91,...,2.0,14,11,NaN,0.25,7.0,Snow,348,NordrheinWestfalen,NW
16,NordrheinWestfalen,2013-01-17,-2,-3,-4,-3,-4,-6,94,88,...,3.0,16,10,NaN,0.00,7.0,Rain-Snow,353,NordrheinWestfalen,NW
17,NordrheinWestfalen,2013-01-18,0,-2,-5,-3,-4,-7,94,82,...,8.0,21,11,NaN,0.00,6.0,Fog-Snow,64,NordrheinWestfalen,NW
18,NordrheinWestfalen,2013-01-19,-3,-4,-5,-5,-7,-9,80,74,...,10.0,26,18,NaN,0.00,7.0,NaN,61,NordrheinWestfalen,NW
19,NordrheinWestfalen,2013-01-20,0,-3,-7,-2,-6,-9,94,84,...,1.0,24,19,NaN,2.03,7.0,Rain-Snow,55,NordrheinWestfalen,NW
20,NordrheinWestfalen,2013-01-21,0,-1,-2,-1,-2,-3,100,91,...,2.0,16,11,NaN,0.00,7.0,Snow,118,NordrheinWestfalen,NW
21,NordrheinWestfalen,2013-01-22,1,-1,-3,-2,-3,-4,94,86,...,5.0,11,6,NaN,0.00,7.0,Snow,11,NordrheinWestfalen,NW
22,NordrheinWestfalen,2013-01-23,-1,-2,-3,-3,-4,-6,90,80,...,5.0,14,8,NaN,0.00,6.0,Snow,17,NordrheinWestfalen,NW
23,NordrheinWestfalen,2013-01-24,-2,-4,-6,-4,-6,-8,93,82,...,6.0,21,13,NaN,0.00,6.0,NaN,21,NordrheinWestfalen,NW
24,NordrheinWestfalen,2013-01-25,-2,-2,-3,-3,-4,-6,95,83,...,1.0,23,8,40.0,0.00,7.0,Fog-Rain-Snow,80,NordrheinWestfalen,NW
25,NordrheinWestfalen,2013-01-26,0,-2,-4,-1,-4,-6,100,81,...,3.0,34,24,48.0,0.00,7.0,Rain-Snow,158,NordrheinWestfalen,NW
26,NordrheinWestfalen,2013-01-27,4,2,-1,3,1,-2,95,86,...,5.0,35,21,53.0,3.05,7.0,Rain-Snow,174,NordrheinWestfalen,NW
27,NordrheinWestfalen,2013-01-28,6,3,0,3,2,-1,93,84,...,10.0,32,18,NaN,0.25,6.0,Rain,190,NordrheinWestfalen,NW
28,NordrheinWestfalen,2013-01-29,12,8,3,10,8,3,96,88,...,6.0,45,31,61.0,6.10,7.0,Rain,216,NordrheinWestfalen,NW
29,NordrheinWestfalen,2013-01-30,13,11,9,11,8,4,94,79,...,5.0,47,32,60.0,3.05,5.0,Rain-Thunderstorm,233,NordrheinWestfalen,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Saarland,2015-08-19,22,14,8,12,8,6,100,66,...,3.0,14,5,NaN,0.00,3.0,Fog,81,Saarland,SL
15811,Saarland,2015-08-20,25,18,11,13,9,5,94,58,...,10.0,10,5,NaN,0.00,1.0,NaN,48,Saarland,SL
15812,Saarland,2015-08-21,26,19,12,12,10,7,82,57,...,31.0,14,10,NaN,0.00,NaN,NaN,72,Saarland,SL
15813,Saarland,2015-08-22,26,19,13,12,8,5,72,49,...,31.0,21,13,NaN,0.00,NaN,NaN,75,Saarland,SL
15814,Saarland,2015-08-23,27,20,13,17,11,6,97,61,...,4.0,37,14,55.0,7.11,6.0,Rain,124,Saarland,SL
15815,Saarland,2015-08-24,19,17,15,17,14,9,98,83,...,3.0,32,13,48.0,7.11,6.0,Rain,177,Saarland,SL
15816,Saarland,2015-08-25,21,17,12,10,8,5,77,57,...,10.0,40,27,64.0,0.00,5.0,Rain,231,Saarland,SL
15817,Saarland,2015-08-26,26,19,12,13,9,7,72,51,...,10.0,21,13,NaN,0.00,5.0,NaN,186,Saarland,SL
15818,Saarland,2015-08-27,29,23,18,17,13,10,94,55,...,10.0,29,14,39.0,0.00,7.0,Rain,224,Saarland,SL
15819,Saarland,2015-08-28,19,18,16,18,17,15,100,93,...,2.0,18,11,NaN,5.08,7.0,Rain,266,Saarland,SL
15820,Saarland,2015-08-29,30,22,15,20,17,15,100,74,...,0.0,13,8,NaN,0.00,5.0,Fog,88,Saarland,SL
15821,Saarland,2015-08-30,32,25,18,19,16,12,96,58,...,26.0,19,10,NaN,0.00,NaN,NaN,183,Saarland,SL
15822,Saarland,2015-08-31,31,25,19,14,12,9,60,40,...,NaN,34,13,50.0,0.00,NaN,NaN,222,Saarland,SL
15823,Saarland,2015-09-01,21,18,14,18,15,12,99,83,...,1.0,34,8,NaN,5.08,5.0,Rain,281,Saarland,SL
15824,Saarland,2015-09-02,20,15,10,13,11,7,100,79,...,0.0,14,5,NaN,0.00,5.0,Fog-Rain,305,Saarland,SL
15825,Saarland,2015-09-03,20,15,10,13,9,5,94,68,...,10.0,23,8,NaN,0.00,4.0,NaN,272,Saarland,SL
15826,Saarland,2015-09-04,18,12,7,9,7,5,96,71,...,10.0,26,8,NaN,0.00,4.0,NaN,269,Saarland,SL
15827,Saarland,2015-09-05,16,10,5,9,7,5,100,76,...,6.0,24,10,NaN,0.25,6.0,Fog-Rain,278,Saarland,SL
15828,Saarland,2015-09-06,16,11,7,9,6,4,97,74,...,10.0,19,13,NaN,0.00,5.0,Rain,299,Saarland,SL
15829,Saarland,2015-09-07,16,10,5,11,8,4,99,82,...,7.0,14,6,NaN,0.25,6.0,Rain,291,Saarland,SL
15830,Saarland,2015-09-08,19,14,9,11,9,7,95,72,...,8.0,18,8,NaN,0.00,4.0,NaN,49,Saarland,SL
15831,Saarland,2015-09-09,20,14,9,11,7,5,93,65,...,10.0,23,16,NaN,0.00,2.0,NaN,61,Saarland,SL
15832,Saarland,2015-09-10,20,14,8,7,4,2,76,53,...,10.0,26,18,42.0,0.00,1.0,NaN,62,Saarland,SL
15833,Saarland,2015-09-11,21,14,7,8,6,2,87,58,...,10.0,21,13,NaN,0.00,6.0,NaN,71,Saarland,SL
15834,Saarland,2015-09-12,23,17,10,16,11,5,94,69,...,10.0,21,11,NaN,1.02,6.0,Rain,185,Saarland,SL
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,10.0,27,10,50.0,1.02,7.0,Rain,113,Saarland,SL
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,4.0,32,16,53.0,9.91,5.0,Rain-Thunderstorm,213,Saarland,SL
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,10.0,34,14,NaN,0.00,5.0,Rain,193,Saarland,SL
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,4.0,32,14,45.0,20.07,7.0,Rain-Thunderstorm,147,Saarland,SL
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,8.0,27,16,47.0,6.10,6.0,Rain,202,Saarland,SL

In [23]:
add_datepart(weather, "Date", drop=False)

In [24]:
weather

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,1,1,1,False,True,False,True,False,True,1356998400
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,2,2,2,False,False,False,False,False,False,1357084800
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,3,3,3,False,False,False,False,False,False,1357171200
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,4,4,4,False,False,False,False,False,False,1357257600
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,5,5,5,False,False,False,False,False,False,1357344000
5,NordrheinWestfalen,2013-01-06,9,8,7,8,7,6,100,92,...,6,6,6,False,False,False,False,False,False,1357430400
6,NordrheinWestfalen,2013-01-07,9,8,7,8,7,5,98,88,...,7,0,7,False,False,False,False,False,False,1357516800
7,NordrheinWestfalen,2013-01-08,8,7,5,6,5,4,100,87,...,8,1,8,False,False,False,False,False,False,1357603200
8,NordrheinWestfalen,2013-01-09,6,6,5,6,4,3,100,91,...,9,2,9,False,False,False,False,False,False,1357689600
9,NordrheinWestfalen,2013-01-10,6,4,3,4,3,1,96,86,...,10,3,10,False,False,False,False,False,False,1357776000
10,NordrheinWestfalen,2013-01-11,2,-1,-3,2,-3,-5,100,85,...,11,4,11,False,False,False,False,False,False,1357862400
11,NordrheinWestfalen,2013-01-12,2,-2,-7,-3,-6,-8,100,79,...,12,5,12,False,False,False,False,False,False,1357948800
12,NordrheinWestfalen,2013-01-13,1,-3,-6,-3,-6,-8,86,75,...,13,6,13,False,False,False,False,False,False,1358035200
13,NordrheinWestfalen,2013-01-14,-2,-3,-5,-2,-5,-8,99,85,...,14,0,14,False,False,False,False,False,False,1358121600
14,NordrheinWestfalen,2013-01-15,-1,-4,-7,-2,-4,-7,100,86,...,15,1,15,False,False,False,False,False,False,1358208000
15,NordrheinWestfalen,2013-01-16,-3,-3,-4,-3,-4,-5,99,91,...,16,2,16,False,False,False,False,False,False,1358294400
16,NordrheinWestfalen,2013-01-17,-2,-3,-4,-3,-4,-6,94,88,...,17,3,17,False,False,False,False,False,False,1358380800
17,NordrheinWestfalen,2013-01-18,0,-2,-5,-3,-4,-7,94,82,...,18,4,18,False,False,False,False,False,False,1358467200
18,NordrheinWestfalen,2013-01-19,-3,-4,-5,-5,-7,-9,80,74,...,19,5,19,False,False,False,False,False,False,1358553600
19,NordrheinWestfalen,2013-01-20,0,-3,-7,-2,-6,-9,94,84,...,20,6,20,False,False,False,False,False,False,1358640000
20,NordrheinWestfalen,2013-01-21,0,-1,-2,-1,-2,-3,100,91,...,21,0,21,False,False,False,False,False,False,1358726400
21,NordrheinWestfalen,2013-01-22,1,-1,-3,-2,-3,-4,94,86,...,22,1,22,False,False,False,False,False,False,1358812800
22,NordrheinWestfalen,2013-01-23,-1,-2,-3,-3,-4,-6,90,80,...,23,2,23,False,False,False,False,False,False,1358899200
23,NordrheinWestfalen,2013-01-24,-2,-4,-6,-4,-6,-8,93,82,...,24,3,24,False,False,False,False,False,False,1358985600
24,NordrheinWestfalen,2013-01-25,-2,-2,-3,-3,-4,-6,95,83,...,25,4,25,False,False,False,False,False,False,1359072000
25,NordrheinWestfalen,2013-01-26,0,-2,-4,-1,-4,-6,100,81,...,26,5,26,False,False,False,False,False,False,1359158400
26,NordrheinWestfalen,2013-01-27,4,2,-1,3,1,-2,95,86,...,27,6,27,False,False,False,False,False,False,1359244800
27,NordrheinWestfalen,2013-01-28,6,3,0,3,2,-1,93,84,...,28,0,28,False,False,False,False,False,False,1359331200
28,NordrheinWestfalen,2013-01-29,12,8,3,10,8,3,96,88,...,29,1,29,False,False,False,False,False,False,1359417600
29,NordrheinWestfalen,2013-01-30,13,11,9,11,8,4,94,79,...,30,2,30,False,False,False,False,False,False,1359504000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Saarland,2015-08-19,22,14,8,12,8,6,100,66,...,19,2,231,False,False,False,False,False,False,1439942400
15811,Saarland,2015-08-20,25,18,11,13,9,5,94,58,...,20,3,232,False,False,False,False,False,False,1440028800
15812,Saarland,2015-08-21,26,19,12,12,10,7,82,57,...,21,4,233,False,False,False,False,False,False,1440115200
15813,Saarland,2015-08-22,26,19,13,12,8,5,72,49,...,22,5,234,False,False,False,False,False,False,1440201600
15814,Saarland,2015-08-23,27,20,13,17,11,6,97,61,...,23,6,235,False,False,False,False,False,False,1440288000
15815,Saarland,2015-08-24,19,17,15,17,14,9,98,83,...,24,0,236,False,False,False,False,False,False,1440374400
15816,Saarland,2015-08-25,21,17,12,10,8,5,77,57,...,25,1,237,False,False,False,False,False,False,1440460800
15817,Saarland,2015-08-26,26,19,12,13,9,7,72,51,...,26,2,238,False,False,False,False,False,False,1440547200
15818,Saarland,2015-08-27,29,23,18,17,13,10,94,55,...,27,3,239,False,False,False,False,False,False,1440633600
15819,Saarland,2015-08-28,19,18,16,18,17,15,100,93,...,28,4,240,False,False,False,False,False,False,1440720000
15820,Saarland,2015-08-29,30,22,15,20,17,15,100,74,...,29,5,241,False,False,False,False,False,False,1440806400
15821,Saarland,2015-08-30,32,25,18,19,16,12,96,58,...,30,6,242,False,False,False,False,False,False,1440892800
15822,Saarland,2015-08-31,31,25,19,14,12,9,60,40,...,31,0,243,True,False,False,False,False,False,1440979200
15823,Saarland,2015-09-01,21,18,14,18,15,12,99,83,...,1,1,244,False,True,False,False,False,False,1441065600
15824,Saarland,2015-09-02,20,15,10,13,11,7,100,79,...,2,2,245,False,False,False,False,False,False,1441152000
15825,Saarland,2015-09-03,20,15,10,13,9,5,94,68,...,3,3,246,False,False,False,False,False,False,1441238400
15826,Saarland,2015-09-04,18,12,7,9,7,5,96,71,...,4,4,247,False,False,False,False,False,False,1441324800
15827,Saarland,2015-09-05,16,10,5,9,7,5,100,76,...,5,5,248,False,False,False,False,False,False,1441411200
15828,Saarland,2015-09-06,16,11,7,9,6,4,97,74,...,6,6,249,False,False,False,False,False,False,1441497600
15829,Saarland,2015-09-07,16,10,5,11,8,4,99,82,...,7,0,250,False,False,False,False,False,False,1441584000
15830,Saarland,2015-09-08,19,14,9,11,9,7,95,72,...,8,1,251,False,False,False,False,False,False,1441670400
15831,Saarland,2015-09-09,20,14,9,11,7,5,93,65,...,9,2,252,False,False,False,False,False,False,1441756800
15832,Saarland,2015-09-10,20,14,8,7,4,2,76,53,...,10,3,253,False,False,False,False,False,False,1441843200
15833,Saarland,2015-09-11,21,14,7,8,6,2,87,58,...,11,4,254,False,False,False,False,False,False,1441929600
15834,Saarland,2015-09-12,23,17,10,16,11,5,94,69,...,12,5,255,False,False,False,False,False,False,1442016000
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,13,6,256,False,False,False,False,False,False,1442102400
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,14,0,257,False,False,False,False,False,False,1442188800
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,15,1,258,False,False,False,False,False,False,1442275200
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,16,2,259,False,False,False,False,False,False,1442361600
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,17,3,260,False,False,False,False,False,False,1442448000

And the same for other dataframes as well:

In [25]:
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

The Google trends data has a special category for the whole of the Germany - we'll pull that out so we can use it explicitly.

In [26]:
googletrend

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,Rossmann_DE_SN,2012-12-02 - 2012-12-08,96,2012-12-02,SN,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
1,Rossmann_DE_SN,2012-12-09 - 2012-12-15,95,2012-12-09,SN,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
2,Rossmann_DE_SN,2012-12-16 - 2012-12-22,91,2012-12-16,SN,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
3,Rossmann_DE_SN,2012-12-23 - 2012-12-29,48,2012-12-23,SN,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
4,Rossmann_DE_SN,2012-12-30 - 2013-01-05,67,2012-12-30,SN,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600
5,Rossmann_DE_SN,2013-01-06 - 2013-01-12,71,2013-01-06,SN,2013,1,1,6,6,6,False,False,False,False,False,False,1357430400
6,Rossmann_DE_SN,2013-01-13 - 2013-01-19,53,2013-01-13,SN,2013,1,2,13,6,13,False,False,False,False,False,False,1358035200
7,Rossmann_DE_SN,2013-01-20 - 2013-01-26,58,2013-01-20,SN,2013,1,3,20,6,20,False,False,False,False,False,False,1358640000
8,Rossmann_DE_SN,2013-01-27 - 2013-02-02,55,2013-01-27,SN,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
9,Rossmann_DE_SN,2013-02-03 - 2013-02-09,55,2013-02-03,SN,2013,2,5,3,6,34,False,False,False,False,False,False,1359849600
10,Rossmann_DE_SN,2013-02-10 - 2013-02-16,58,2013-02-10,SN,2013,2,6,10,6,41,False,False,False,False,False,False,1360454400
11,Rossmann_DE_SN,2013-02-17 - 2013-02-23,65,2013-02-17,SN,2013,2,7,17,6,48,False,False,False,False,False,False,1361059200
12,Rossmann_DE_SN,2013-02-24 - 2013-03-02,48,2013-02-24,SN,2013,2,8,24,6,55,False,False,False,False,False,False,1361664000
13,Rossmann_DE_SN,2013-03-03 - 2013-03-09,51,2013-03-03,SN,2013,3,9,3,6,62,False,False,False,False,False,False,1362268800
14,Rossmann_DE_SN,2013-03-10 - 2013-03-16,50,2013-03-10,SN,2013,3,10,10,6,69,False,False,False,False,False,False,1362873600
15,Rossmann_DE_SN,2013-03-17 - 2013-03-23,58,2013-03-17,SN,2013,3,11,17,6,76,False,False,False,False,False,False,1363478400
16,Rossmann_DE_SN,2013-03-24 - 2013-03-30,54,2013-03-24,SN,2013,3,12,24,6,83,False,False,False,False,False,False,1364083200
17,Rossmann_DE_SN,2013-03-31 - 2013-04-06,55,2013-03-31,SN,2013,3,13,31,6,90,True,False,True,False,False,False,1364688000
18,Rossmann_DE_SN,2013-04-07 - 2013-04-13,64,2013-04-07,SN,2013,4,14,7,6,97,False,False,False,False,False,False,1365292800
19,Rossmann_DE_SN,2013-04-14 - 2013-04-20,47,2013-04-14,SN,2013,4,15,14,6,104,False,False,False,False,False,False,1365897600
20,Rossmann_DE_SN,2013-04-21 - 2013-04-27,51,2013-04-21,SN,2013,4,16,21,6,111,False,False,False,False,False,False,1366502400
21,Rossmann_DE_SN,2013-04-28 - 2013-05-04,47,2013-04-28,SN,2013,4,17,28,6,118,False,False,False,False,False,False,1367107200
22,Rossmann_DE_SN,2013-05-05 - 2013-05-11,57,2013-05-05,SN,2013,5,18,5,6,125,False,False,False,False,False,False,1367712000
23,Rossmann_DE_SN,2013-05-12 - 2013-05-18,64,2013-05-12,SN,2013,5,19,12,6,132,False,False,False,False,False,False,1368316800
24,Rossmann_DE_SN,2013-05-19 - 2013-05-25,54,2013-05-19,SN,2013,5,20,19,6,139,False,False,False,False,False,False,1368921600
25,Rossmann_DE_SN,2013-05-26 - 2013-06-01,67,2013-05-26,SN,2013,5,21,26,6,146,False,False,False,False,False,False,1369526400
26,Rossmann_DE_SN,2013-06-02 - 2013-06-08,45,2013-06-02,SN,2013,6,22,2,6,153,False,False,False,False,False,False,1370131200
27,Rossmann_DE_SN,2013-06-09 - 2013-06-15,55,2013-06-09,SN,2013,6,23,9,6,160,False,False,False,False,False,False,1370736000
28,Rossmann_DE_SN,2013-06-16 - 2013-06-22,67,2013-06-16,SN,2013,6,24,16,6,167,False,False,False,False,False,False,1371340800
29,Rossmann_DE_SN,2013-06-23 - 2013-06-29,56,2013-06-23,SN,2013,6,25,23,6,174,False,False,False,False,False,False,1371945600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2042,Rossmann_DE_SL,2015-03-08 - 2015-03-14,60,2015-03-08,SL,2015,3,10,8,6,67,False,False,False,False,False,False,1425772800
2043,Rossmann_DE_SL,2015-03-15 - 2015-03-21,61,2015-03-15,SL,2015,3,11,15,6,74,False,False,False,False,False,False,1426377600
2044,Rossmann_DE_SL,2015-03-22 - 2015-03-28,80,2015-03-22,SL,2015,3,12,22,6,81,False,False,False,False,False,False,1426982400
2045,Rossmann_DE_SL,2015-03-29 - 2015-04-04,61,2015-03-29,SL,2015,3,13,29,6,88,False,False,False,False,False,False,1427587200
2046,Rossmann_DE_SL,2015-04-05 - 2015-04-11,67,2015-04-05,SL,2015,4,14,5,6,95,False,False,False,False,False,False,1428192000
2047,Rossmann_DE_SL,2015-04-12 - 2015-04-18,58,2015-04-12,SL,2015,4,15,12,6,102,False,False,False,False,False,False,1428796800
2048,Rossmann_DE_SL,2015-04-19 - 2015-04-25,67,2015-04-19,SL,2015,4,16,19,6,109,False,False,False,False,False,False,1429401600
2049,Rossmann_DE_SL,2015-04-26 - 2015-05-02,86,2015-04-26,SL,2015,4,17,26,6,116,False,False,False,False,False,False,1430006400
2050,Rossmann_DE_SL,2015-05-03 - 2015-05-09,70,2015-05-03,SL,2015,5,18,3,6,123,False,False,False,False,False,False,1430611200
2051,Rossmann_DE_SL,2015-05-10 - 2015-05-16,77,2015-05-10,SL,2015,5,19,10,6,130,False,False,False,False,False,False,1431216000
2052,Rossmann_DE_SL,2015-05-17 - 2015-05-23,77,2015-05-17,SL,2015,5,20,17,6,137,False,False,False,False,False,False,1431820800
2053,Rossmann_DE_SL,2015-05-24 - 2015-05-30,78,2015-05-24,SL,2015,5,21,24,6,144,False,False,False,False,False,False,1432425600
2054,Rossmann_DE_SL,2015-05-31 - 2015-06-06,95,2015-05-31,SL,2015,5,22,31,6,151,True,False,False,False,False,False,1433030400
2055,Rossmann_DE_SL,2015-06-07 - 2015-06-13,90,2015-06-07,SL,2015,6,23,7,6,158,False,False,False,False,False,False,1433635200
2056,Rossmann_DE_SL,2015-06-14 - 2015-06-20,100,2015-06-14,SL,2015,6,24,14,6,165,False,False,False,False,False,False,1434240000
2057,Rossmann_DE_SL,2015-06-21 - 2015-06-27,70,2015-06-21,SL,2015,6,25,21,6,172,False,False,False,False,False,False,1434844800
2058,Rossmann_DE_SL,2015-06-28 - 2015-07-04,83,2015-06-28,SL,2015,6,26,28,6,179,False,False,False,False,False,False,1435449600
2059,Rossmann_DE_SL,2015-07-05 - 2015-07-11,53,2015-07-05,SL,2015,7,27,5,6,186,False,False,False,False,False,False,1436054400
2060,Rossmann_DE_SL,2015-07-12 - 2015-07-18,53,2015-07-12,SL,2015,7,28,12,6,193,False,False,False,False,False,False,1436659200
2061,Rossmann_DE_SL,2015-07-19 - 2015-07-25,50,2015-07-19,SL,2015,7,29,19,6,200,False,False,False,False,False,False,1437264000
2062,Rossmann_DE_SL,2015-07-26 - 2015-08-01,69,2015-07-26,SL,2015,7,30,26,6,207,False,False,False,False,False,False,1437868800
2063,Rossmann_DE_SL,2015-08-02 - 2015-08-08,88,2015-08-02,SL,2015,8,31,2,6,214,False,False,False,False,False,False,1438473600
2064,Rossmann_DE_SL,2015-08-09 - 2015-08-15,68,2015-08-09,SL,2015,8,32,9,6,221,False,False,False,False,False,False,1439078400
2065,Rossmann_DE_SL,2015-08-16 - 2015-08-22,81,2015-08-16,SL,2015,8,33,16,6,228,False,False,False,False,False,False,1439683200
2066,Rossmann_DE_SL,2015-08-23 - 2015-08-29,48,2015-08-23,SL,2015,8,34,23,6,235,False,False,False,False,False,False,1440288000
2067,Rossmann_DE_SL,2015-08-30 - 2015-09-05,95,2015-08-30,SL,2015,8,35,30,6,242,False,False,False,False,False,False,1440892800
2068,Rossmann_DE_SL,2015-09-06 - 2015-09-12,47,2015-09-06,SL,2015,9,36,6,6,249,False,False,False,False,False,False,1441497600
2069,Rossmann_DE_SL,2015-09-13 - 2015-09-19,80,2015-09-13,SL,2015,9,37,13,6,256,False,False,False,False,False,False,1442102400
2070,Rossmann_DE_SL,2015-09-20 - 2015-09-26,57,2015-09-20,SL,2015,9,38,20,6,263,False,False,False,False,False,False,1442707200
2071,Rossmann_DE_SL,2015-09-27 - 2015-10-03,0,2015-09-27,SL,2015,9,39,27,6,270,False,False,False,False,False,False,1443312000

In [27]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

In [28]:
trend_de

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
148,Rossmann_DE,2012-12-02 - 2012-12-08,77,2012-12-02,None,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
149,Rossmann_DE,2012-12-09 - 2012-12-15,76,2012-12-09,None,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
150,Rossmann_DE,2012-12-16 - 2012-12-22,85,2012-12-16,None,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
151,Rossmann_DE,2012-12-23 - 2012-12-29,59,2012-12-23,None,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
152,Rossmann_DE,2012-12-30 - 2013-01-05,61,2012-12-30,None,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600
153,Rossmann_DE,2013-01-06 - 2013-01-12,62,2013-01-06,None,2013,1,1,6,6,6,False,False,False,False,False,False,1357430400
154,Rossmann_DE,2013-01-13 - 2013-01-19,51,2013-01-13,None,2013,1,2,13,6,13,False,False,False,False,False,False,1358035200
155,Rossmann_DE,2013-01-20 - 2013-01-26,56,2013-01-20,None,2013,1,3,20,6,20,False,False,False,False,False,False,1358640000
156,Rossmann_DE,2013-01-27 - 2013-02-02,50,2013-01-27,None,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
157,Rossmann_DE,2013-02-03 - 2013-02-09,58,2013-02-03,None,2013,2,5,3,6,34,False,False,False,False,False,False,1359849600
158,Rossmann_DE,2013-02-10 - 2013-02-16,51,2013-02-10,None,2013,2,6,10,6,41,False,False,False,False,False,False,1360454400
159,Rossmann_DE,2013-02-17 - 2013-02-23,58,2013-02-17,None,2013,2,7,17,6,48,False,False,False,False,False,False,1361059200
160,Rossmann_DE,2013-02-24 - 2013-03-02,51,2013-02-24,None,2013,2,8,24,6,55,False,False,False,False,False,False,1361664000
161,Rossmann_DE,2013-03-03 - 2013-03-09,55,2013-03-03,None,2013,3,9,3,6,62,False,False,False,False,False,False,1362268800
162,Rossmann_DE,2013-03-10 - 2013-03-16,54,2013-03-10,None,2013,3,10,10,6,69,False,False,False,False,False,False,1362873600
163,Rossmann_DE,2013-03-17 - 2013-03-23,62,2013-03-17,None,2013,3,11,17,6,76,False,False,False,False,False,False,1363478400
164,Rossmann_DE,2013-03-24 - 2013-03-30,57,2013-03-24,None,2013,3,12,24,6,83,False,False,False,False,False,False,1364083200
165,Rossmann_DE,2013-03-31 - 2013-04-06,57,2013-03-31,None,2013,3,13,31,6,90,True,False,True,False,False,False,1364688000
166,Rossmann_DE,2013-04-07 - 2013-04-13,59,2013-04-07,None,2013,4,14,7,6,97,False,False,False,False,False,False,1365292800
167,Rossmann_DE,2013-04-14 - 2013-04-20,50,2013-04-14,None,2013,4,15,14,6,104,False,False,False,False,False,False,1365897600
168,Rossmann_DE,2013-04-21 - 2013-04-27,59,2013-04-21,None,2013,4,16,21,6,111,False,False,False,False,False,False,1366502400
169,Rossmann_DE,2013-04-28 - 2013-05-04,52,2013-04-28,None,2013,4,17,28,6,118,False,False,False,False,False,False,1367107200
170,Rossmann_DE,2013-05-05 - 2013-05-11,56,2013-05-05,None,2013,5,18,5,6,125,False,False,False,False,False,False,1367712000
171,Rossmann_DE,2013-05-12 - 2013-05-18,60,2013-05-12,None,2013,5,19,12,6,132,False,False,False,False,False,False,1368316800
172,Rossmann_DE,2013-05-19 - 2013-05-25,53,2013-05-19,None,2013,5,20,19,6,139,False,False,False,False,False,False,1368921600
173,Rossmann_DE,2013-05-26 - 2013-06-01,65,2013-05-26,None,2013,5,21,26,6,146,False,False,False,False,False,False,1369526400
174,Rossmann_DE,2013-06-02 - 2013-06-08,55,2013-06-02,None,2013,6,22,2,6,153,False,False,False,False,False,False,1370131200
175,Rossmann_DE,2013-06-09 - 2013-06-15,55,2013-06-09,None,2013,6,23,9,6,160,False,False,False,False,False,False,1370736000
176,Rossmann_DE,2013-06-16 - 2013-06-22,67,2013-06-16,None,2013,6,24,16,6,167,False,False,False,False,False,False,1371340800
177,Rossmann_DE,2013-06-23 - 2013-06-29,59,2013-06-23,None,2013,6,25,23,6,174,False,False,False,False,False,False,1371945600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,Rossmann_DE,2015-03-08 - 2015-03-14,64,2015-03-08,None,2015,3,10,8,6,67,False,False,False,False,False,False,1425772800
267,Rossmann_DE,2015-03-15 - 2015-03-21,74,2015-03-15,None,2015,3,11,15,6,74,False,False,False,False,False,False,1426377600
268,Rossmann_DE,2015-03-22 - 2015-03-28,63,2015-03-22,None,2015,3,12,22,6,81,False,False,False,False,False,False,1426982400
269,Rossmann_DE,2015-03-29 - 2015-04-04,75,2015-03-29,None,2015,3,13,29,6,88,False,False,False,False,False,False,1427587200
270,Rossmann_DE,2015-04-05 - 2015-04-11,66,2015-04-05,None,2015,4,14,5,6,95,False,False,False,False,False,False,1428192000
271,Rossmann_DE,2015-04-12 - 2015-04-18,69,2015-04-12,None,2015,4,15,12,6,102,False,False,False,False,False,False,1428796800
272,Rossmann_DE,2015-04-19 - 2015-04-25,65,2015-04-19,None,2015,4,16,19,6,109,False,False,False,False,False,False,1429401600
273,Rossmann_DE,2015-04-26 - 2015-05-02,79,2015-04-26,None,2015,4,17,26,6,116,False,False,False,False,False,False,1430006400
274,Rossmann_DE,2015-05-03 - 2015-05-09,73,2015-05-03,None,2015,5,18,3,6,123,False,False,False,False,False,False,1430611200
275,Rossmann_DE,2015-05-10 - 2015-05-16,67,2015-05-10,None,2015,5,19,10,6,130,False,False,False,False,False,False,1431216000
276,Rossmann_DE,2015-05-17 - 2015-05-23,76,2015-05-17,None,2015,5,20,17,6,137,False,False,False,False,False,False,1431820800
277,Rossmann_DE,2015-05-24 - 2015-05-30,70,2015-05-24,None,2015,5,21,24,6,144,False,False,False,False,False,False,1432425600
278,Rossmann_DE,2015-05-31 - 2015-06-06,77,2015-05-31,None,2015,5,22,31,6,151,True,False,False,False,False,False,1433030400
279,Rossmann_DE,2015-06-07 - 2015-06-13,68,2015-06-07,None,2015,6,23,7,6,158,False,False,False,False,False,False,1433635200
280,Rossmann_DE,2015-06-14 - 2015-06-20,82,2015-06-14,None,2015,6,24,14,6,165,False,False,False,False,False,False,1434240000
281,Rossmann_DE,2015-06-21 - 2015-06-27,71,2015-06-21,None,2015,6,25,21,6,172,False,False,False,False,False,False,1434844800
282,Rossmann_DE,2015-06-28 - 2015-07-04,86,2015-06-28,None,2015,6,26,28,6,179,False,False,False,False,False,False,1435449600
283,Rossmann_DE,2015-07-05 - 2015-07-11,74,2015-07-05,None,2015,7,27,5,6,186,False,False,False,False,False,False,1436054400
284,Rossmann_DE,2015-07-12 - 2015-07-18,86,2015-07-12,None,2015,7,28,12,6,193,False,False,False,False,False,False,1436659200
285,Rossmann_DE,2015-07-19 - 2015-07-25,74,2015-07-19,None,2015,7,29,19,6,200,False,False,False,False,False,False,1437264000
286,Rossmann_DE,2015-07-26 - 2015-08-01,87,2015-07-26,None,2015,7,30,26,6,207,False,False,False,False,False,False,1437868800
287,Rossmann_DE,2015-08-02 - 2015-08-08,83,2015-08-02,None,2015,8,31,2,6,214,False,False,False,False,False,False,1438473600
288,Rossmann_DE,2015-08-09 - 2015-08-15,76,2015-08-09,None,2015,8,32,9,6,221,False,False,False,False,False,False,1439078400
289,Rossmann_DE,2015-08-16 - 2015-08-22,84,2015-08-16,None,2015,8,33,16,6,228,False,False,False,False,False,False,1439683200
290,Rossmann_DE,2015-08-23 - 2015-08-29,70,2015-08-23,None,2015,8,34,23,6,235,False,False,False,False,False,False,1440288000
291,Rossmann_DE,2015-08-30 - 2015-09-05,78,2015-08-30,None,2015,8,35,30,6,242,False,False,False,False,False,False,1440892800
292,Rossmann_DE,2015-09-06 - 2015-09-12,71,2015-09-06,None,2015,9,36,6,6,249,False,False,False,False,False,False,1441497600
293,Rossmann_DE,2015-09-13 - 2015-09-19,77,2015-09-13,None,2015,9,37,13,6,256,False,False,False,False,False,False,1442102400
294,Rossmann_DE,2015-09-20 - 2015-09-26,67,2015-09-20,None,2015,9,38,20,6,263,False,False,False,False,False,False,1442707200
295,Rossmann_DE,2015-09-27 - 2015-10-03,71,2015-09-27,None,2015,9,39,27,6,270,False,False,False,False,False,False,1443312000

Now we can outer join all of our data into a single dataframe. Recall that in outer joins everytime a value in the joining field on the left table does not have a corresponding value on the right table, the corresponding row in the new table has Null values for all right table fields. One way to check that all records are consistent and complete is to check for Null values post-join, as we do here.

Aside: Why not just do an inner join? If you are assuming that all records are complete and match on the field you desire, an inner join will do the same thing as an outer join. However, in the event you are wrong or a mistake is made, an outer join followed by a null-check will catch it. (Comparing before/after # of rows for inner join is equivalent, but requires keeping track of before/after row #'s. Outer join is easier.)

In [29]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct"
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct"
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
20,21,c,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct"
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
22,23,d,a,4060.0,8.0,2005.0,0,NaN,NaN,NaN
23,24,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
24,25,c,a,430.0,4.0,2003.0,0,NaN,NaN,NaN
25,26,d,a,2300.0,NaN,NaN,0,NaN,NaN,NaN
26,27,a,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct"
27,28,a,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec"
28,29,d,c,2170.0,NaN,NaN,0,NaN,NaN,NaN
29,30,a,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov"
1086,1087,d,c,2210.0,11.0,2011.0,0,NaN,NaN,NaN
1087,1088,a,a,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct"
1088,1089,d,a,5220.0,5.0,2009.0,0,NaN,NaN,NaN
1089,1090,a,a,330.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1090,1091,a,c,9990.0,NaN,NaN,0,NaN,NaN,NaN
1091,1092,a,a,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1092,1093,c,c,10450.0,6.0,2009.0,0,NaN,NaN,NaN
1093,1094,d,a,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1094,1095,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1095,1096,a,c,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
1096,1097,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN
1097,1098,a,a,1830.0,11.0,2004.0,0,NaN,NaN,NaN
1098,1099,a,c,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct"
1099,1100,a,a,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1100,1101,d,c,4060.0,9.0,2012.0,0,NaN,NaN,NaN
1101,1102,a,a,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1102,1103,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1103,1104,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1104,1105,c,c,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [30]:
store_states

      Store  State
0         1     HE
1         2     TH
2         3     NW
3         4     BE
4         5     SN
5         6     SN
6         7     SH
7         8     SH
8         9     NW
9        10  HB,NI
10       11     SH
11       12     SH
12       13     BY
13       14     NW
14       15     SH
15       16     BW
16       17     TH
17       18     TH
18       19     NW
19       20     BY
20       21     BW
21       22     BY
22       23     RP
23       24     NW
24       25     NW
25       26     TH
26       27     NW
27       28     ST
28       29     NW
29       30     NW
...     ...    ...
1085   1086     HE
1086   1087  HB,NI
1087   1088     NW
1088   1089     NW
1089   1090     SN
1090   1091     SH
1091   1092     BY
1092   1093     SN
1093   1094     BY
1094   1095     TH
1095   1096     NW
1096   1097     RP
1097   1098     SN
1098   1099     SH
1099   1100     NW
1100   1101     SH
1101   1102     BY
1102   1103     HE
1103   1104     BY
1104   1105     NW
1105   1106     SH
1106   1107     BY
1107   1108     SN
1108   1109     BY
1109   1110     BE
1110   1111     NW
1111   1112     NW
1112   1113     SH
1113   1114     HH
1114   1115     HE

[1115 rows x 2 columns]

In [31]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [32]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN,SN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN,SH
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN,SH
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN,NW
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN,"HB,NI"
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct",SH
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct",SH
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov",BY
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",NW
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",SH
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN,BW
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct",TH
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct",TH
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec",NW
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
20,21,c,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct",BW
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct",BY
22,23,d,a,4060.0,8.0,2005.0,0,NaN,NaN,NaN,RP
23,24,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",NW
24,25,c,a,430.0,4.0,2003.0,0,NaN,NaN,NaN,NW
25,26,d,a,2300.0,NaN,NaN,0,NaN,NaN,NaN,TH
26,27,a,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct",NW
27,28,a,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec",ST
28,29,d,c,2170.0,NaN,NaN,0,NaN,NaN,NaN,NW
29,30,a,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",NW
...,...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov",HE
1086,1087,d,c,2210.0,11.0,2011.0,0,NaN,NaN,NaN,"HB,NI"
1087,1088,a,a,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct",NW
1088,1089,d,a,5220.0,5.0,2009.0,0,NaN,NaN,NaN,NW
1089,1090,a,a,330.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct",SN
1090,1091,a,c,9990.0,NaN,NaN,0,NaN,NaN,NaN,SH
1091,1092,a,a,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1092,1093,c,c,10450.0,6.0,2009.0,0,NaN,NaN,NaN,SN
1093,1094,d,a,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1094,1095,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",TH
1095,1096,a,c,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec",NW
1096,1097,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN,RP
1097,1098,a,a,1830.0,11.0,2004.0,0,NaN,NaN,NaN,SN
1098,1099,a,c,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct",SH
1099,1100,a,a,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
1100,1101,d,c,4060.0,9.0,2012.0,0,NaN,NaN,NaN,SH
1101,1102,a,a,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1102,1103,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov",HE
1103,1104,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",BY
1104,1105,c,c,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov",NW
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",SH
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",BY
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN,SN
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct",BY
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN,BE
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",NW
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN,NW
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN,SH
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN,HH
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",HE

In [33]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [34]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [35]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [36]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [37]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

Next we'll fill in missing values to avoid complications with NA's. NA (not available) is how Pandas indicates missing values; many models have problems when missing values are present, so it's always important to think about how to deal with them. In these cases, we are picking an arbitrary signal value that doesn't otherwise appear in the data.

In [38]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

Next we'll extract features "CompetitionOpenSince" and "CompetitionDaysOpen". Note the use of apply() in mapping a function across dataframe values.

In [39]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

We'll replace some erroneous / outlying data.

In [40]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [41]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

Same process for Promo dates.

In [42]:
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1).astype(pd.datetime))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [43]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

Save data as feather format

In [44]:
joined.to_feather(f'{PATH}joined')
joined_test.to_feather(f'{PATH}joined_test')

## Durations

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:

- Running averages
- Time until next event
- Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

We'll define a function get_elapsed for cumulative counting across a sorted dataframe. Given a particular field fld to monitor, this function will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen. We'll see how to use this shortly.

In [45]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

We'll be applying this to a subset of columns:

In [46]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [47]:
#df = train[columns]
df = train[columns].append(test[columns])

In [48]:
df

            Date  Store  Promo  StateHoliday  SchoolHoliday
0     2015-07-31      1      1         False              1
1     2015-07-31      2      1         False              1
2     2015-07-31      3      1         False              1
3     2015-07-31      4      1         False              1
4     2015-07-31      5      1         False              1
5     2015-07-31      6      1         False              1
6     2015-07-31      7      1         False              1
7     2015-07-31      8      1         False              1
8     2015-07-31      9      1         False              1
9     2015-07-31     10      1         False              1
10    2015-07-31     11      1         False              1
11    2015-07-31     12      1         False              1
12    2015-07-31     13      1         False              0
13    2015-07-31     14      1         False              1
14    2015-07-31     15      1         False              1
15    2015-07-31     16      1         False              1
16    2015-07-31     17      1         False              1
17    2015-07-31     18      1         False              1
18    2015-07-31     19      1         False              1
19    2015-07-31     20      1         False              0
20    2015-07-31     21      1         False              1
21    2015-07-31     22      1         False              0
22    2015-07-31     23      1         False              1
23    2015-07-31     24      1         False              1
24    2015-07-31     25      1         False              1
25    2015-07-31     26      1         False              1
26    2015-07-31     27      1         False              1
27    2015-07-31     28      1         False              1
28    2015-07-31     29      1         False              1
29    2015-07-31     30      1         False              1
...          ...    ...    ...           ...            ...
41058 2015-08-01   1077      0         False              0
41059 2015-08-01   1078      0         False              0
41060 2015-08-01   1079      0         False              1
41061 2015-08-01   1080      0         False              0
41062 2015-08-01   1083      0         False              1
41063 2015-08-01   1084      0         False              1
41064 2015-08-01   1086      0         False              1
41065 2015-08-01   1087      0         False              1
41066 2015-08-01   1088      0         False              0
41067 2015-08-01   1089      0         False              0
41068 2015-08-01   1091      0         False              0
41069 2015-08-01   1092      0         False              0
41070 2015-08-01   1094      0         False              0
41071 2015-08-01   1096      0         False              0
41072 2015-08-01   1097      0         False              0
41073 2015-08-01   1099      0         False              0
41074 2015-08-01   1100      0         False              0
41075 2015-08-01   1101      0         False              0
41076 2015-08-01   1102      0         False              0
41077 2015-08-01   1103      0         False              1
41078 2015-08-01   1104      0         False              0
41079 2015-08-01   1105      0         False              0
41080 2015-08-01   1106      0         False              0
41081 2015-08-01   1107      0         False              0
41082 2015-08-01   1109      0         False              0
41083 2015-08-01   1111      0         False              0
41084 2015-08-01   1112      0         False              0
41085 2015-08-01   1113      0         False              0
41086 2015-08-01   1114      0         False              0
41087 2015-08-01   1115      0         False              1

[1058297 rows x 5 columns]

Let's walk through an example.

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call add_elapsed('SchoolHoliday', 'After'): This will apply to each row with School Holiday:

A applied to every row of the dataframe in order of store and date
Will add to the dataframe the days since seeing a School Holiday
If we sort in the other direction, this will count the days until another holiday.

In [49]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [50]:
df

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday
0,2015-09-17,1,1,False,0,13.0,NaN
856,2015-09-16,1,1,False,0,12.0,NaN
1712,2015-09-15,1,1,False,0,11.0,NaN
2568,2015-09-14,1,1,False,0,10.0,NaN
3424,2015-09-13,1,0,False,0,9.0,NaN
4280,2015-09-12,1,0,False,0,8.0,NaN
5136,2015-09-11,1,0,False,0,7.0,NaN
5992,2015-09-10,1,0,False,0,6.0,NaN
6848,2015-09-09,1,0,False,0,5.0,NaN
7704,2015-09-08,1,0,False,0,4.0,NaN
8560,2015-09-07,1,0,False,0,3.0,NaN
9416,2015-09-06,1,0,False,0,2.0,NaN
10272,2015-09-05,1,0,False,0,1.0,NaN
11128,2015-09-04,1,1,False,1,0.0,0.0
11984,2015-09-03,1,1,False,1,0.0,0.0
12840,2015-09-02,1,1,False,1,0.0,0.0
13696,2015-09-01,1,1,False,1,0.0,0.0
14552,2015-08-31,1,1,False,1,0.0,0.0
15408,2015-08-30,1,0,False,1,0.0,0.0
16264,2015-08-29,1,0,False,1,0.0,0.0
17120,2015-08-28,1,0,False,1,0.0,0.0
17976,2015-08-27,1,0,False,1,0.0,0.0
18832,2015-08-26,1,0,False,1,0.0,0.0
19688,2015-08-25,1,0,False,1,0.0,0.0
20544,2015-08-24,1,0,False,1,0.0,0.0
21400,2015-08-23,1,0,False,1,0.0,0.0
22256,2015-08-22,1,0,False,1,0.0,0.0
23112,2015-08-21,1,1,False,1,0.0,0.0
23968,2015-08-20,1,1,False,1,0.0,0.0
24824,2015-08-19,1,1,False,1,0.0,0.0
...,...,...,...,...,...,...,...
984874,2013-01-30,1115,0,False,0,19.0,-54.0
985989,2013-01-29,1115,0,False,0,18.0,-55.0
987104,2013-01-28,1115,0,False,0,17.0,-56.0
988219,2013-01-27,1115,0,False,0,16.0,-57.0
989334,2013-01-26,1115,0,False,0,15.0,-58.0
990449,2013-01-25,1115,1,False,0,14.0,-59.0
991564,2013-01-24,1115,1,False,0,13.0,-60.0
992679,2013-01-23,1115,1,False,0,12.0,-61.0
993794,2013-01-22,1115,1,False,0,11.0,-62.0
994909,2013-01-21,1115,1,False,0,10.0,-63.0
996024,2013-01-20,1115,0,False,0,9.0,-64.0
997139,2013-01-19,1115,0,False,0,8.0,-65.0
998254,2013-01-18,1115,0,False,0,7.0,-66.0
999369,2013-01-17,1115,0,False,0,6.0,-67.0
1000484,2013-01-16,1115,0,False,0,5.0,-68.0
1001599,2013-01-15,1115,0,False,0,4.0,-69.0
1002714,2013-01-14,1115,0,False,0,3.0,-70.0
1003829,2013-01-13,1115,0,False,0,2.0,-71.0
1004944,2013-01-12,1115,0,False,0,1.0,-72.0
1006059,2013-01-11,1115,1,False,1,0.0,0.0
1007174,2013-01-10,1115,1,False,1,0.0,0.0
1008289,2013-01-09,1115,1,False,1,0.0,0.0
1009404,2013-01-08,1115,1,False,1,0.0,0.0
1010519,2013-01-07,1115,1,False,1,0.0,0.0
1011634,2013-01-06,1115,0,False,1,0.0,0.0
1012749,2013-01-05,1115,0,False,1,0.0,0.0
1013864,2013-01-04,1115,0,False,1,0.0,0.0
1014979,2013-01-03,1115,0,False,1,0.0,0.0
1016094,2013-01-02,1115,0,False,1,0.0,0.0
1017208,2013-01-01,1115,0,True,1,0.0,0.0

We'll do this for two more fields.

In [51]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [52]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We're going to set the active index to Date.

In [53]:
df

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
0,2015-09-17,1,1,False,0,13.0,NaN,105.0,NaN,0.0,0.0
856,2015-09-16,1,1,False,0,12.0,NaN,104.0,NaN,0.0,0.0
1712,2015-09-15,1,1,False,0,11.0,NaN,103.0,NaN,0.0,0.0
2568,2015-09-14,1,1,False,0,10.0,NaN,102.0,NaN,0.0,0.0
3424,2015-09-13,1,0,False,0,9.0,NaN,101.0,NaN,9.0,-1.0
4280,2015-09-12,1,0,False,0,8.0,NaN,100.0,NaN,8.0,-2.0
5136,2015-09-11,1,0,False,0,7.0,NaN,99.0,NaN,7.0,-3.0
5992,2015-09-10,1,0,False,0,6.0,NaN,98.0,NaN,6.0,-4.0
6848,2015-09-09,1,0,False,0,5.0,NaN,97.0,NaN,5.0,-5.0
7704,2015-09-08,1,0,False,0,4.0,NaN,96.0,NaN,4.0,-6.0
8560,2015-09-07,1,0,False,0,3.0,NaN,95.0,NaN,3.0,-7.0
9416,2015-09-06,1,0,False,0,2.0,NaN,94.0,NaN,2.0,-8.0
10272,2015-09-05,1,0,False,0,1.0,NaN,93.0,NaN,1.0,-9.0
11128,2015-09-04,1,1,False,1,0.0,0.0,92.0,NaN,0.0,0.0
11984,2015-09-03,1,1,False,1,0.0,0.0,91.0,NaN,0.0,0.0
12840,2015-09-02,1,1,False,1,0.0,0.0,90.0,NaN,0.0,0.0
13696,2015-09-01,1,1,False,1,0.0,0.0,89.0,NaN,0.0,0.0
14552,2015-08-31,1,1,False,1,0.0,0.0,88.0,NaN,0.0,0.0
15408,2015-08-30,1,0,False,1,0.0,0.0,87.0,NaN,9.0,-1.0
16264,2015-08-29,1,0,False,1,0.0,0.0,86.0,NaN,8.0,-2.0
17120,2015-08-28,1,0,False,1,0.0,0.0,85.0,NaN,7.0,-3.0
17976,2015-08-27,1,0,False,1,0.0,0.0,84.0,NaN,6.0,-4.0
18832,2015-08-26,1,0,False,1,0.0,0.0,83.0,NaN,5.0,-5.0
19688,2015-08-25,1,0,False,1,0.0,0.0,82.0,NaN,4.0,-6.0
20544,2015-08-24,1,0,False,1,0.0,0.0,81.0,NaN,3.0,-7.0
21400,2015-08-23,1,0,False,1,0.0,0.0,80.0,NaN,2.0,-8.0
22256,2015-08-22,1,0,False,1,0.0,0.0,79.0,NaN,1.0,-9.0
23112,2015-08-21,1,1,False,1,0.0,0.0,78.0,NaN,0.0,0.0
23968,2015-08-20,1,1,False,1,0.0,0.0,77.0,NaN,0.0,0.0
24824,2015-08-19,1,1,False,1,0.0,0.0,76.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
984874,2013-01-30,1115,0,False,0,19.0,-54.0,29.0,-58.0,5.0,-5.0
985989,2013-01-29,1115,0,False,0,18.0,-55.0,28.0,-59.0,4.0,-6.0
987104,2013-01-28,1115,0,False,0,17.0,-56.0,27.0,-60.0,3.0,-7.0
988219,2013-01-27,1115,0,False,0,16.0,-57.0,26.0,-61.0,2.0,-8.0
989334,2013-01-26,1115,0,False,0,15.0,-58.0,25.0,-62.0,1.0,-9.0
990449,2013-01-25,1115,1,False,0,14.0,-59.0,24.0,-63.0,0.0,0.0
991564,2013-01-24,1115,1,False,0,13.0,-60.0,23.0,-64.0,0.0,0.0
992679,2013-01-23,1115,1,False,0,12.0,-61.0,22.0,-65.0,0.0,0.0
993794,2013-01-22,1115,1,False,0,11.0,-62.0,21.0,-66.0,0.0,0.0
994909,2013-01-21,1115,1,False,0,10.0,-63.0,20.0,-67.0,0.0,0.0
996024,2013-01-20,1115,0,False,0,9.0,-64.0,19.0,-68.0,9.0,-1.0
997139,2013-01-19,1115,0,False,0,8.0,-65.0,18.0,-69.0,8.0,-2.0
998254,2013-01-18,1115,0,False,0,7.0,-66.0,17.0,-70.0,7.0,-3.0
999369,2013-01-17,1115,0,False,0,6.0,-67.0,16.0,-71.0,6.0,-4.0
1000484,2013-01-16,1115,0,False,0,5.0,-68.0,15.0,-72.0,5.0,-5.0
1001599,2013-01-15,1115,0,False,0,4.0,-69.0,14.0,-73.0,4.0,-6.0
1002714,2013-01-14,1115,0,False,0,3.0,-70.0,13.0,-74.0,3.0,-7.0
1003829,2013-01-13,1115,0,False,0,2.0,-71.0,12.0,-75.0,2.0,-8.0
1004944,2013-01-12,1115,0,False,0,1.0,-72.0,11.0,-76.0,1.0,-9.0
1006059,2013-01-11,1115,1,False,1,0.0,0.0,10.0,-77.0,0.0,0.0
1007174,2013-01-10,1115,1,False,1,0.0,0.0,9.0,-78.0,0.0,0.0
1008289,2013-01-09,1115,1,False,1,0.0,0.0,8.0,-79.0,0.0,0.0
1009404,2013-01-08,1115,1,False,1,0.0,0.0,7.0,-80.0,0.0,0.0
1010519,2013-01-07,1115,1,False,1,0.0,0.0,6.0,-81.0,0.0,0.0
1011634,2013-01-06,1115,0,False,1,0.0,0.0,5.0,-82.0,NaN,-1.0
1012749,2013-01-05,1115,0,False,1,0.0,0.0,4.0,-83.0,NaN,-2.0
1013864,2013-01-04,1115,0,False,1,0.0,0.0,3.0,-84.0,NaN,-3.0
1014979,2013-01-03,1115,0,False,1,0.0,0.0,2.0,-85.0,NaN,-4.0
1016094,2013-01-02,1115,0,False,1,0.0,0.0,1.0,-86.0,NaN,-5.0
1017208,2013-01-01,1115,0,True,1,0.0,0.0,0.0,0.0,NaN,-6.0

We're going to set the active index to Date.

In [54]:
df = df.set_index("Date")

In [55]:
df

,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
Date,,,,,,,,,,
2015-09-17,1,1,False,0,13.0,NaN,105.0,NaN,0.0,0.0
2015-09-16,1,1,False,0,12.0,NaN,104.0,NaN,0.0,0.0
2015-09-15,1,1,False,0,11.0,NaN,103.0,NaN,0.0,0.0
2015-09-14,1,1,False,0,10.0,NaN,102.0,NaN,0.0,0.0
2015-09-13,1,0,False,0,9.0,NaN,101.0,NaN,9.0,-1.0
2015-09-12,1,0,False,0,8.0,NaN,100.0,NaN,8.0,-2.0
2015-09-11,1,0,False,0,7.0,NaN,99.0,NaN,7.0,-3.0
2015-09-10,1,0,False,0,6.0,NaN,98.0,NaN,6.0,-4.0
2015-09-09,1,0,False,0,5.0,NaN,97.0,NaN,5.0,-5.0
2015-09-08,1,0,False,0,4.0,NaN,96.0,NaN,4.0,-6.0
2015-09-07,1,0,False,0,3.0,NaN,95.0,NaN,3.0,-7.0
2015-09-06,1,0,False,0,2.0,NaN,94.0,NaN,2.0,-8.0
2015-09-05,1,0,False,0,1.0,NaN,93.0,NaN,1.0,-9.0
2015-09-04,1,1,False,1,0.0,0.0,92.0,NaN,0.0,0.0
2015-09-03,1,1,False,1,0.0,0.0,91.0,NaN,0.0,0.0
2015-09-02,1,1,False,1,0.0,0.0,90.0,NaN,0.0,0.0
2015-09-01,1,1,False,1,0.0,0.0,89.0,NaN,0.0,0.0
2015-08-31,1,1,False,1,0.0,0.0,88.0,NaN,0.0,0.0
2015-08-30,1,0,False,1,0.0,0.0,87.0,NaN,9.0,-1.0
2015-08-29,1,0,False,1,0.0,0.0,86.0,NaN,8.0,-2.0
2015-08-28,1,0,False,1,0.0,0.0,85.0,NaN,7.0,-3.0
2015-08-27,1,0,False,1,0.0,0.0,84.0,NaN,6.0,-4.0
2015-08-26,1,0,False,1,0.0,0.0,83.0,NaN,5.0,-5.0
2015-08-25,1,0,False,1,0.0,0.0,82.0,NaN,4.0,-6.0
2015-08-24,1,0,False,1,0.0,0.0,81.0,NaN,3.0,-7.0
2015-08-23,1,0,False,1,0.0,0.0,80.0,NaN,2.0,-8.0
2015-08-22,1,0,False,1,0.0,0.0,79.0,NaN,1.0,-9.0
2015-08-21,1,1,False,1,0.0,0.0,78.0,NaN,0.0,0.0
2015-08-20,1,1,False,1,0.0,0.0,77.0,NaN,0.0,0.0
2015-08-19,1,1,False,1,0.0,0.0,76.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2013-01-30,1115,0,False,0,19.0,-54.0,29.0,-58.0,5.0,-5.0
2013-01-29,1115,0,False,0,18.0,-55.0,28.0,-59.0,4.0,-6.0
2013-01-28,1115,0,False,0,17.0,-56.0,27.0,-60.0,3.0,-7.0
2013-01-27,1115,0,False,0,16.0,-57.0,26.0,-61.0,2.0,-8.0
2013-01-26,1115,0,False,0,15.0,-58.0,25.0,-62.0,1.0,-9.0
2013-01-25,1115,1,False,0,14.0,-59.0,24.0,-63.0,0.0,0.0
2013-01-24,1115,1,False,0,13.0,-60.0,23.0,-64.0,0.0,0.0
2013-01-23,1115,1,False,0,12.0,-61.0,22.0,-65.0,0.0,0.0
2013-01-22,1115,1,False,0,11.0,-62.0,21.0,-66.0,0.0,0.0
2013-01-21,1115,1,False,0,10.0,-63.0,20.0,-67.0,0.0,0.0
2013-01-20,1115,0,False,0,9.0,-64.0,19.0,-68.0,9.0,-1.0
2013-01-19,1115,0,False,0,8.0,-65.0,18.0,-69.0,8.0,-2.0
2013-01-18,1115,0,False,0,7.0,-66.0,17.0,-70.0,7.0,-3.0
2013-01-17,1115,0,False,0,6.0,-67.0,16.0,-71.0,6.0,-4.0
2013-01-16,1115,0,False,0,5.0,-68.0,15.0,-72.0,5.0,-5.0
2013-01-15,1115,0,False,0,4.0,-69.0,14.0,-73.0,4.0,-6.0
2013-01-14,1115,0,False,0,3.0,-70.0,13.0,-74.0,3.0,-7.0
2013-01-13,1115,0,False,0,2.0,-71.0,12.0,-75.0,2.0,-8.0
2013-01-12,1115,0,False,0,1.0,-72.0,11.0,-76.0,1.0,-9.0
2013-01-11,1115,1,False,1,0.0,0.0,10.0,-77.0,0.0,0.0
2013-01-10,1115,1,False,1,0.0,0.0,9.0,-78.0,0.0,0.0
2013-01-09,1115,1,False,1,0.0,0.0,8.0,-79.0,0.0,0.0
2013-01-08,1115,1,False,1,0.0,0.0,7.0,-80.0,0.0,0.0
2013-01-07,1115,1,False,1,0.0,0.0,6.0,-81.0,0.0,0.0
2013-01-06,1115,0,False,1,0.0,0.0,5.0,-82.0,NaN,-1.0
2013-01-05,1115,0,False,1,0.0,0.0,4.0,-83.0,NaN,-2.0
2013-01-04,1115,0,False,1,0.0,0.0,3.0,-84.0,NaN,-3.0
2013-01-03,1115,0,False,1,0.0,0.0,2.0,-85.0,NaN,-4.0
2013-01-02,1115,0,False,1,0.0,0.0,1.0,-86.0,NaN,-5.0
2013-01-01,1115,0,True,1,0.0,0.0,0.0,0.0,NaN,-6.0

Then set null values from elapsed field calculations to 0.

In [56]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [57]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date (sort_index()) and counting the number of events of interest (sum()) defined in columns in the following week (rolling()), grouped by Store (groupby()). We do the same in the opposite direction.

In [58]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [59]:
bwd

                   Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2013-01-01     1.0            1.0           1.0    0.0
      2013-01-02     2.0            2.0           1.0    0.0
      2013-01-03     3.0            3.0           1.0    0.0
      2013-01-04     4.0            4.0           1.0    0.0
      2013-01-05     5.0            5.0           1.0    0.0
      2013-01-06     6.0            6.0           1.0    0.0
      2013-01-07     7.0            7.0           1.0    1.0
      2013-01-08     7.0            7.0           0.0    2.0
      2013-01-09     7.0            7.0           0.0    3.0
      2013-01-10     7.0            7.0           0.0    4.0
      2013-01-11     7.0            7.0           0.0    5.0
      2013-01-12     7.0            6.0           0.0    5.0
      2013-01-13     7.0            5.0           0.0    5.0
      2013-01-14     7.0            4.0           0.0    4.0
      2013-01-15     7.0            3.0           0.0    3.0
      2013-01-16     7.0            2.0           0.0    2.0
      2013-01-17     7.0            1.0           0.0    1.0
      2013-01-18     7.0            0.0           0.0    0.0
      2013-01-19     7.0            0.0           0.0    0.0
      2013-01-20     7.0            0.0           0.0    0.0
      2013-01-21     7.0            0.0           0.0    1.0
      2013-01-22     7.0            0.0           0.0    2.0
      2013-01-23     7.0            0.0           0.0    3.0
      2013-01-24     7.0            0.0           0.0    4.0
      2013-01-25     7.0            0.0           0.0    5.0
      2013-01-26     7.0            0.0           0.0    5.0
      2013-01-27     7.0            0.0           0.0    5.0
      2013-01-28     7.0            0.0           0.0    4.0
      2013-01-29     7.0            0.0           0.0    3.0
      2013-01-30     7.0            0.0           0.0    2.0
...                  ...            ...           ...    ...
1115  2015-08-19  7805.0            7.0           0.0    3.0
      2015-08-20  7805.0            7.0           0.0    4.0
      2015-08-21  7805.0            7.0           0.0    5.0
      2015-08-22  7805.0            7.0           0.0    5.0
      2015-08-23  7805.0            7.0           0.0    5.0
      2015-08-24  7805.0            7.0           0.0    4.0
      2015-08-25  7805.0            7.0           0.0    3.0
      2015-08-26  7805.0            7.0           0.0    2.0
      2015-08-27  7805.0            7.0           0.0    1.0
      2015-08-28  7805.0            7.0           0.0    0.0
      2015-08-29  7805.0            7.0           0.0    0.0
      2015-08-30  7805.0            7.0           0.0    0.0
      2015-08-31  7805.0            7.0           0.0    1.0
      2015-09-01  7805.0            7.0           0.0    2.0
      2015-09-02  7805.0            7.0           0.0    3.0
      2015-09-03  7805.0            7.0           0.0    4.0
      2015-09-04  7805.0            7.0           0.0    5.0
      2015-09-05  7805.0            6.0           0.0    5.0
      2015-09-06  7805.0            5.0           0.0    5.0
      2015-09-07  7805.0            4.0           0.0    4.0
      2015-09-08  7805.0            3.0           0.0    3.0
      2015-09-09  7805.0            2.0           0.0    2.0
      2015-09-10  7805.0            1.0           0.0    1.0
      2015-09-11  7805.0            0.0           0.0    0.0
      2015-09-12  7805.0            0.0           0.0    0.0
      2015-09-13  7805.0            0.0           0.0    0.0
      2015-09-14  7805.0            0.0           0.0    1.0
      2015-09-15  7805.0            0.0           0.0    2.0
      2015-09-16  7805.0            0.0           0.0    3.0
      2015-09-17  7805.0            0.0           0.0    4.0

[1058297 rows x 4 columns]

In [60]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [61]:
fwd

                   Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2015-09-17     1.0            0.0           0.0    1.0
      2015-09-16     2.0            0.0           0.0    2.0
      2015-09-15     3.0            0.0           0.0    3.0
      2015-09-14     4.0            0.0           0.0    4.0
      2015-09-13     5.0            0.0           0.0    4.0
      2015-09-12     6.0            0.0           0.0    4.0
      2015-09-11     7.0            0.0           0.0    4.0
      2015-09-10     7.0            0.0           0.0    3.0
      2015-09-09     7.0            0.0           0.0    2.0
      2015-09-08     7.0            0.0           0.0    1.0
      2015-09-07     7.0            0.0           0.0    0.0
      2015-09-06     7.0            0.0           0.0    0.0
      2015-09-05     7.0            0.0           0.0    0.0
      2015-09-04     7.0            1.0           0.0    1.0
      2015-09-03     7.0            2.0           0.0    2.0
      2015-09-02     7.0            3.0           0.0    3.0
      2015-09-01     7.0            4.0           0.0    4.0
      2015-08-31     7.0            5.0           0.0    5.0
      2015-08-30     7.0            6.0           0.0    5.0
      2015-08-29     7.0            7.0           0.0    5.0
      2015-08-28     7.0            7.0           0.0    4.0
      2015-08-27     7.0            7.0           0.0    3.0
      2015-08-26     7.0            7.0           0.0    2.0
      2015-08-25     7.0            7.0           0.0    1.0
      2015-08-24     7.0            7.0           0.0    0.0
      2015-08-23     7.0            7.0           0.0    0.0
      2015-08-22     7.0            7.0           0.0    0.0
      2015-08-21     7.0            7.0           0.0    1.0
      2015-08-20     7.0            7.0           0.0    2.0
      2015-08-19     7.0            7.0           0.0    3.0
...                  ...            ...           ...    ...
1115  2013-01-30  7805.0            0.0           0.0    2.0
      2013-01-29  7805.0            0.0           0.0    1.0
      2013-01-28  7805.0            0.0           0.0    0.0
      2013-01-27  7805.0            0.0           0.0    0.0
      2013-01-26  7805.0            0.0           0.0    0.0
      2013-01-25  7805.0            0.0           0.0    1.0
      2013-01-24  7805.0            0.0           0.0    2.0
      2013-01-23  7805.0            0.0           0.0    3.0
      2013-01-22  7805.0            0.0           0.0    4.0
      2013-01-21  7805.0            0.0           0.0    5.0
      2013-01-20  7805.0            0.0           0.0    5.0
      2013-01-19  7805.0            0.0           0.0    5.0
      2013-01-18  7805.0            0.0           0.0    4.0
      2013-01-17  7805.0            0.0           0.0    3.0
      2013-01-16  7805.0            0.0           0.0    2.0
      2013-01-15  7805.0            0.0           0.0    1.0
      2013-01-14  7805.0            0.0           0.0    0.0
      2013-01-13  7805.0            0.0           0.0    0.0
      2013-01-12  7805.0            0.0           0.0    0.0
      2013-01-11  7805.0            1.0           0.0    1.0
      2013-01-10  7805.0            2.0           0.0    2.0
      2013-01-09  7805.0            3.0           0.0    3.0
      2013-01-08  7805.0            4.0           0.0    4.0
      2013-01-07  7805.0            5.0           0.0    5.0
      2013-01-06  7805.0            6.0           0.0    5.0
      2013-01-05  7805.0            7.0           0.0    5.0
      2013-01-04  7805.0            7.0           0.0    4.0
      2013-01-03  7805.0            7.0           0.0    3.0
      2013-01-02  7805.0            7.0           0.0    2.0
      2013-01-01  7805.0            7.0           1.0    1.0

[1058297 rows x 4 columns]

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [62]:
bwd

                   Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2013-01-01     1.0            1.0           1.0    0.0
      2013-01-02     2.0            2.0           1.0    0.0
      2013-01-03     3.0            3.0           1.0    0.0
      2013-01-04     4.0            4.0           1.0    0.0
      2013-01-05     5.0            5.0           1.0    0.0
      2013-01-06     6.0            6.0           1.0    0.0
      2013-01-07     7.0            7.0           1.0    1.0
      2013-01-08     7.0            7.0           0.0    2.0
      2013-01-09     7.0            7.0           0.0    3.0
      2013-01-10     7.0            7.0           0.0    4.0
      2013-01-11     7.0            7.0           0.0    5.0
      2013-01-12     7.0            6.0           0.0    5.0
      2013-01-13     7.0            5.0           0.0    5.0
      2013-01-14     7.0            4.0           0.0    4.0
      2013-01-15     7.0            3.0           0.0    3.0
      2013-01-16     7.0            2.0           0.0    2.0
      2013-01-17     7.0            1.0           0.0    1.0
      2013-01-18     7.0            0.0           0.0    0.0
      2013-01-19     7.0            0.0           0.0    0.0
      2013-01-20     7.0            0.0           0.0    0.0
      2013-01-21     7.0            0.0           0.0    1.0
      2013-01-22     7.0            0.0           0.0    2.0
      2013-01-23     7.0            0.0           0.0    3.0
      2013-01-24     7.0            0.0           0.0    4.0
      2013-01-25     7.0            0.0           0.0    5.0
      2013-01-26     7.0            0.0           0.0    5.0
      2013-01-27     7.0            0.0           0.0    5.0
      2013-01-28     7.0            0.0           0.0    4.0
      2013-01-29     7.0            0.0           0.0    3.0
      2013-01-30     7.0            0.0           0.0    2.0
...                  ...            ...           ...    ...
1115  2015-08-19  7805.0            7.0           0.0    3.0
      2015-08-20  7805.0            7.0           0.0    4.0
      2015-08-21  7805.0            7.0           0.0    5.0
      2015-08-22  7805.0            7.0           0.0    5.0
      2015-08-23  7805.0            7.0           0.0    5.0
      2015-08-24  7805.0            7.0           0.0    4.0
      2015-08-25  7805.0            7.0           0.0    3.0
      2015-08-26  7805.0            7.0           0.0    2.0
      2015-08-27  7805.0            7.0           0.0    1.0
      2015-08-28  7805.0            7.0           0.0    0.0
      2015-08-29  7805.0            7.0           0.0    0.0
      2015-08-30  7805.0            7.0           0.0    0.0
      2015-08-31  7805.0            7.0           0.0    1.0
      2015-09-01  7805.0            7.0           0.0    2.0
      2015-09-02  7805.0            7.0           0.0    3.0
      2015-09-03  7805.0            7.0           0.0    4.0
      2015-09-04  7805.0            7.0           0.0    5.0
      2015-09-05  7805.0            6.0           0.0    5.0
      2015-09-06  7805.0            5.0           0.0    5.0
      2015-09-07  7805.0            4.0           0.0    4.0
      2015-09-08  7805.0            3.0           0.0    3.0
      2015-09-09  7805.0            2.0           0.0    2.0
      2015-09-10  7805.0            1.0           0.0    1.0
      2015-09-11  7805.0            0.0           0.0    0.0
      2015-09-12  7805.0            0.0           0.0    0.0
      2015-09-13  7805.0            0.0           0.0    0.0
      2015-09-14  7805.0            0.0           0.0    1.0
      2015-09-15  7805.0            0.0           0.0    2.0
      2015-09-16  7805.0            0.0           0.0    3.0
      2015-09-17  7805.0            0.0           0.0    4.0

[1058297 rows x 4 columns]

In [63]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [64]:
bwd

         Store       Date  SchoolHoliday  StateHoliday  Promo
0            1 2013-01-01            1.0           1.0    0.0
1            1 2013-01-02            2.0           1.0    0.0
2            1 2013-01-03            3.0           1.0    0.0
3            1 2013-01-04            4.0           1.0    0.0
4            1 2013-01-05            5.0           1.0    0.0
5            1 2013-01-06            6.0           1.0    0.0
6            1 2013-01-07            7.0           1.0    1.0
7            1 2013-01-08            7.0           0.0    2.0
8            1 2013-01-09            7.0           0.0    3.0
9            1 2013-01-10            7.0           0.0    4.0
10           1 2013-01-11            7.0           0.0    5.0
11           1 2013-01-12            6.0           0.0    5.0
12           1 2013-01-13            5.0           0.0    5.0
13           1 2013-01-14            4.0           0.0    4.0
14           1 2013-01-15            3.0           0.0    3.0
15           1 2013-01-16            2.0           0.0    2.0
16           1 2013-01-17            1.0           0.0    1.0
17           1 2013-01-18            0.0           0.0    0.0
18           1 2013-01-19            0.0           0.0    0.0
19           1 2013-01-20            0.0           0.0    0.0
20           1 2013-01-21            0.0           0.0    1.0
21           1 2013-01-22            0.0           0.0    2.0
22           1 2013-01-23            0.0           0.0    3.0
23           1 2013-01-24            0.0           0.0    4.0
24           1 2013-01-25            0.0           0.0    5.0
25           1 2013-01-26            0.0           0.0    5.0
26           1 2013-01-27            0.0           0.0    5.0
27           1 2013-01-28            0.0           0.0    4.0
28           1 2013-01-29            0.0           0.0    3.0
29           1 2013-01-30            0.0           0.0    2.0
...        ...        ...            ...           ...    ...
1058267   1115 2015-08-19            7.0           0.0    3.0
1058268   1115 2015-08-20            7.0           0.0    4.0
1058269   1115 2015-08-21            7.0           0.0    5.0
1058270   1115 2015-08-22            7.0           0.0    5.0
1058271   1115 2015-08-23            7.0           0.0    5.0
1058272   1115 2015-08-24            7.0           0.0    4.0
1058273   1115 2015-08-25            7.0           0.0    3.0
1058274   1115 2015-08-26            7.0           0.0    2.0
1058275   1115 2015-08-27            7.0           0.0    1.0
1058276   1115 2015-08-28            7.0           0.0    0.0
1058277   1115 2015-08-29            7.0           0.0    0.0
1058278   1115 2015-08-30            7.0           0.0    0.0
1058279   1115 2015-08-31            7.0           0.0    1.0
1058280   1115 2015-09-01            7.0           0.0    2.0
1058281   1115 2015-09-02            7.0           0.0    3.0
1058282   1115 2015-09-03            7.0           0.0    4.0
1058283   1115 2015-09-04            7.0           0.0    5.0
1058284   1115 2015-09-05            6.0           0.0    5.0
1058285   1115 2015-09-06            5.0           0.0    5.0
1058286   1115 2015-09-07            4.0           0.0    4.0
1058287   1115 2015-09-08            3.0           0.0    3.0
1058288   1115 2015-09-09            2.0           0.0    2.0
1058289   1115 2015-09-10            1.0           0.0    1.0
1058290   1115 2015-09-11            0.0           0.0    0.0
1058291   1115 2015-09-12            0.0           0.0    0.0
1058292   1115 2015-09-13            0.0           0.0    0.0
1058293   1115 2015-09-14            0.0           0.0    1.0
1058294   1115 2015-09-15            0.0           0.0    2.0
1058295   1115 2015-09-16            0.0           0.0    3.0
1058296   1115 2015-09-17            0.0           0.0    4.0

[1058297 rows x 5 columns]

In [65]:
fwd

                   Store  SchoolHoliday  StateHoliday  Promo
Store Date
1     2015-09-17     1.0            0.0           0.0    1.0
      2015-09-16     2.0            0.0           0.0    2.0
      2015-09-15     3.0            0.0           0.0    3.0
      2015-09-14     4.0            0.0           0.0    4.0
      2015-09-13     5.0            0.0           0.0    4.0
      2015-09-12     6.0            0.0           0.0    4.0
      2015-09-11     7.0            0.0           0.0    4.0
      2015-09-10     7.0            0.0           0.0    3.0
      2015-09-09     7.0            0.0           0.0    2.0
      2015-09-08     7.0            0.0           0.0    1.0
      2015-09-07     7.0            0.0           0.0    0.0
      2015-09-06     7.0            0.0           0.0    0.0
      2015-09-05     7.0            0.0           0.0    0.0
      2015-09-04     7.0            1.0           0.0    1.0
      2015-09-03     7.0            2.0           0.0    2.0
      2015-09-02     7.0            3.0           0.0    3.0
      2015-09-01     7.0            4.0           0.0    4.0
      2015-08-31     7.0            5.0           0.0    5.0
      2015-08-30     7.0            6.0           0.0    5.0
      2015-08-29     7.0            7.0           0.0    5.0
      2015-08-28     7.0            7.0           0.0    4.0
      2015-08-27     7.0            7.0           0.0    3.0
      2015-08-26     7.0            7.0           0.0    2.0
      2015-08-25     7.0            7.0           0.0    1.0
      2015-08-24     7.0            7.0           0.0    0.0
      2015-08-23     7.0            7.0           0.0    0.0
      2015-08-22     7.0            7.0           0.0    0.0
      2015-08-21     7.0            7.0           0.0    1.0
      2015-08-20     7.0            7.0           0.0    2.0
      2015-08-19     7.0            7.0           0.0    3.0
...                  ...            ...           ...    ...
1115  2013-01-30  7805.0            0.0           0.0    2.0
      2013-01-29  7805.0            0.0           0.0    1.0
      2013-01-28  7805.0            0.0           0.0    0.0
      2013-01-27  7805.0            0.0           0.0    0.0
      2013-01-26  7805.0            0.0           0.0    0.0
      2013-01-25  7805.0            0.0           0.0    1.0
      2013-01-24  7805.0            0.0           0.0    2.0
      2013-01-23  7805.0            0.0           0.0    3.0
      2013-01-22  7805.0            0.0           0.0    4.0
      2013-01-21  7805.0            0.0           0.0    5.0
      2013-01-20  7805.0            0.0           0.0    5.0
      2013-01-19  7805.0            0.0           0.0    5.0
      2013-01-18  7805.0            0.0           0.0    4.0
      2013-01-17  7805.0            0.0           0.0    3.0
      2013-01-16  7805.0            0.0           0.0    2.0
      2013-01-15  7805.0            0.0           0.0    1.0
      2013-01-14  7805.0            0.0           0.0    0.0
      2013-01-13  7805.0            0.0           0.0    0.0
      2013-01-12  7805.0            0.0           0.0    0.0
      2013-01-11  7805.0            1.0           0.0    1.0
      2013-01-10  7805.0            2.0           0.0    2.0
      2013-01-09  7805.0            3.0           0.0    3.0
      2013-01-08  7805.0            4.0           0.0    4.0
      2013-01-07  7805.0            5.0           0.0    5.0
      2013-01-06  7805.0            6.0           0.0    5.0
      2013-01-05  7805.0            7.0           0.0    5.0
      2013-01-04  7805.0            7.0           0.0    4.0
      2013-01-03  7805.0            7.0           0.0    3.0
      2013-01-02  7805.0            7.0           0.0    2.0
      2013-01-01  7805.0            7.0           1.0    1.0

[1058297 rows x 4 columns]

In [66]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [67]:
fwd

         Store       Date  SchoolHoliday  StateHoliday  Promo
0            1 2015-09-17            0.0           0.0    1.0
1            1 2015-09-16            0.0           0.0    2.0
2            1 2015-09-15            0.0           0.0    3.0
3            1 2015-09-14            0.0           0.0    4.0
4            1 2015-09-13            0.0           0.0    4.0
5            1 2015-09-12            0.0           0.0    4.0
6            1 2015-09-11            0.0           0.0    4.0
7            1 2015-09-10            0.0           0.0    3.0
8            1 2015-09-09            0.0           0.0    2.0
9            1 2015-09-08            0.0           0.0    1.0
10           1 2015-09-07            0.0           0.0    0.0
11           1 2015-09-06            0.0           0.0    0.0
12           1 2015-09-05            0.0           0.0    0.0
13           1 2015-09-04            1.0           0.0    1.0
14           1 2015-09-03            2.0           0.0    2.0
15           1 2015-09-02            3.0           0.0    3.0
16           1 2015-09-01            4.0           0.0    4.0
17           1 2015-08-31            5.0           0.0    5.0
18           1 2015-08-30            6.0           0.0    5.0
19           1 2015-08-29            7.0           0.0    5.0
20           1 2015-08-28            7.0           0.0    4.0
21           1 2015-08-27            7.0           0.0    3.0
22           1 2015-08-26            7.0           0.0    2.0
23           1 2015-08-25            7.0           0.0    1.0
24           1 2015-08-24            7.0           0.0    0.0
25           1 2015-08-23            7.0           0.0    0.0
26           1 2015-08-22            7.0           0.0    0.0
27           1 2015-08-21            7.0           0.0    1.0
28           1 2015-08-20            7.0           0.0    2.0
29           1 2015-08-19            7.0           0.0    3.0
...        ...        ...            ...           ...    ...
1058267   1115 2013-01-30            0.0           0.0    2.0
1058268   1115 2013-01-29            0.0           0.0    1.0
1058269   1115 2013-01-28            0.0           0.0    0.0
1058270   1115 2013-01-27            0.0           0.0    0.0
1058271   1115 2013-01-26            0.0           0.0    0.0
1058272   1115 2013-01-25            0.0           0.0    1.0
1058273   1115 2013-01-24            0.0           0.0    2.0
1058274   1115 2013-01-23            0.0           0.0    3.0
1058275   1115 2013-01-22            0.0           0.0    4.0
1058276   1115 2013-01-21            0.0           0.0    5.0
1058277   1115 2013-01-20            0.0           0.0    5.0
1058278   1115 2013-01-19            0.0           0.0    5.0
1058279   1115 2013-01-18            0.0           0.0    4.0
1058280   1115 2013-01-17            0.0           0.0    3.0
1058281   1115 2013-01-16            0.0           0.0    2.0
1058282   1115 2013-01-15            0.0           0.0    1.0
1058283   1115 2013-01-14            0.0           0.0    0.0
1058284   1115 2013-01-13            0.0           0.0    0.0
1058285   1115 2013-01-12            0.0           0.0    0.0
1058286   1115 2013-01-11            1.0           0.0    1.0
1058287   1115 2013-01-10            2.0           0.0    2.0
1058288   1115 2013-01-09            3.0           0.0    3.0
1058289   1115 2013-01-08            4.0           0.0    4.0
1058290   1115 2013-01-07            5.0           0.0    5.0
1058291   1115 2013-01-06            6.0           0.0    5.0
1058292   1115 2013-01-05            7.0           0.0    5.0
1058293   1115 2013-01-04            7.0           0.0    4.0
1058294   1115 2013-01-03            7.0           0.0    3.0
1058295   1115 2013-01-02            7.0           0.0    2.0
1058296   1115 2013-01-01            7.0           1.0    1.0

[1058297 rows x 5 columns]

In [68]:
df

,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
Date,,,,,,,,,,
2015-09-17,1,1,False,0,13,0,105,0,0,0
2015-09-16,1,1,False,0,12,0,104,0,0,0
2015-09-15,1,1,False,0,11,0,103,0,0,0
2015-09-14,1,1,False,0,10,0,102,0,0,0
2015-09-13,1,0,False,0,9,0,101,0,9,-1
2015-09-12,1,0,False,0,8,0,100,0,8,-2
2015-09-11,1,0,False,0,7,0,99,0,7,-3
2015-09-10,1,0,False,0,6,0,98,0,6,-4
2015-09-09,1,0,False,0,5,0,97,0,5,-5
2015-09-08,1,0,False,0,4,0,96,0,4,-6
2015-09-07,1,0,False,0,3,0,95,0,3,-7
2015-09-06,1,0,False,0,2,0,94,0,2,-8
2015-09-05,1,0,False,0,1,0,93,0,1,-9
2015-09-04,1,1,False,1,0,0,92,0,0,0
2015-09-03,1,1,False,1,0,0,91,0,0,0
2015-09-02,1,1,False,1,0,0,90,0,0,0
2015-09-01,1,1,False,1,0,0,89,0,0,0
2015-08-31,1,1,False,1,0,0,88,0,0,0
2015-08-30,1,0,False,1,0,0,87,0,9,-1
2015-08-29,1,0,False,1,0,0,86,0,8,-2
2015-08-28,1,0,False,1,0,0,85,0,7,-3
2015-08-27,1,0,False,1,0,0,84,0,6,-4
2015-08-26,1,0,False,1,0,0,83,0,5,-5
2015-08-25,1,0,False,1,0,0,82,0,4,-6
2015-08-24,1,0,False,1,0,0,81,0,3,-7
2015-08-23,1,0,False,1,0,0,80,0,2,-8
2015-08-22,1,0,False,1,0,0,79,0,1,-9
2015-08-21,1,1,False,1,0,0,78,0,0,0
2015-08-20,1,1,False,1,0,0,77,0,0,0
2015-08-19,1,1,False,1,0,0,76,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2013-01-30,1115,0,False,0,19,-54,29,-58,5,-5
2013-01-29,1115,0,False,0,18,-55,28,-59,4,-6
2013-01-28,1115,0,False,0,17,-56,27,-60,3,-7
2013-01-27,1115,0,False,0,16,-57,26,-61,2,-8
2013-01-26,1115,0,False,0,15,-58,25,-62,1,-9
2013-01-25,1115,1,False,0,14,-59,24,-63,0,0
2013-01-24,1115,1,False,0,13,-60,23,-64,0,0
2013-01-23,1115,1,False,0,12,-61,22,-65,0,0
2013-01-22,1115,1,False,0,11,-62,21,-66,0,0
2013-01-21,1115,1,False,0,10,-63,20,-67,0,0
2013-01-20,1115,0,False,0,9,-64,19,-68,9,-1
2013-01-19,1115,0,False,0,8,-65,18,-69,8,-2
2013-01-18,1115,0,False,0,7,-66,17,-70,7,-3
2013-01-17,1115,0,False,0,6,-67,16,-71,6,-4
2013-01-16,1115,0,False,0,5,-68,15,-72,5,-5
2013-01-15,1115,0,False,0,4,-69,14,-73,4,-6
2013-01-14,1115,0,False,0,3,-70,13,-74,3,-7
2013-01-13,1115,0,False,0,2,-71,12,-75,2,-8
2013-01-12,1115,0,False,0,1,-72,11,-76,1,-9
2013-01-11,1115,1,False,1,0,0,10,-77,0,0
2013-01-10,1115,1,False,1,0,0,9,-78,0,0
2013-01-09,1115,1,False,1,0,0,8,-79,0,0
2013-01-08,1115,1,False,1,0,0,7,-80,0,0
2013-01-07,1115,1,False,1,0,0,6,-81,0,0
2013-01-06,1115,0,False,1,0,0,5,-82,0,-1
2013-01-05,1115,0,False,1,0,0,4,-83,0,-2
2013-01-04,1115,0,False,1,0,0,3,-84,0,-3
2013-01-03,1115,0,False,1,0,0,2,-85,0,-4
2013-01-02,1115,0,False,1,0,0,1,-86,0,-5
2013-01-01,1115,0,True,1,0,0,0,0,0,-6

In [69]:
df.reset_index(inplace=True)

In [70]:
df

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
0,2015-09-17,1,1,False,0,13,0,105,0,0,0
1,2015-09-16,1,1,False,0,12,0,104,0,0,0
2,2015-09-15,1,1,False,0,11,0,103,0,0,0
3,2015-09-14,1,1,False,0,10,0,102,0,0,0
4,2015-09-13,1,0,False,0,9,0,101,0,9,-1
5,2015-09-12,1,0,False,0,8,0,100,0,8,-2
6,2015-09-11,1,0,False,0,7,0,99,0,7,-3
7,2015-09-10,1,0,False,0,6,0,98,0,6,-4
8,2015-09-09,1,0,False,0,5,0,97,0,5,-5
9,2015-09-08,1,0,False,0,4,0,96,0,4,-6
10,2015-09-07,1,0,False,0,3,0,95,0,3,-7
11,2015-09-06,1,0,False,0,2,0,94,0,2,-8
12,2015-09-05,1,0,False,0,1,0,93,0,1,-9
13,2015-09-04,1,1,False,1,0,0,92,0,0,0
14,2015-09-03,1,1,False,1,0,0,91,0,0,0
15,2015-09-02,1,1,False,1,0,0,90,0,0,0
16,2015-09-01,1,1,False,1,0,0,89,0,0,0
17,2015-08-31,1,1,False,1,0,0,88,0,0,0
18,2015-08-30,1,0,False,1,0,0,87,0,9,-1
19,2015-08-29,1,0,False,1,0,0,86,0,8,-2
20,2015-08-28,1,0,False,1,0,0,85,0,7,-3
21,2015-08-27,1,0,False,1,0,0,84,0,6,-4
22,2015-08-26,1,0,False,1,0,0,83,0,5,-5
23,2015-08-25,1,0,False,1,0,0,82,0,4,-6
24,2015-08-24,1,0,False,1,0,0,81,0,3,-7
25,2015-08-23,1,0,False,1,0,0,80,0,2,-8
26,2015-08-22,1,0,False,1,0,0,79,0,1,-9
27,2015-08-21,1,1,False,1,0,0,78,0,0,0
28,2015-08-20,1,1,False,1,0,0,77,0,0,0
29,2015-08-19,1,1,False,1,0,0,76,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1058267,2013-01-30,1115,0,False,0,19,-54,29,-58,5,-5
1058268,2013-01-29,1115,0,False,0,18,-55,28,-59,4,-6
1058269,2013-01-28,1115,0,False,0,17,-56,27,-60,3,-7
1058270,2013-01-27,1115,0,False,0,16,-57,26,-61,2,-8
1058271,2013-01-26,1115,0,False,0,15,-58,25,-62,1,-9
1058272,2013-01-25,1115,1,False,0,14,-59,24,-63,0,0
1058273,2013-01-24,1115,1,False,0,13,-60,23,-64,0,0
1058274,2013-01-23,1115,1,False,0,12,-61,22,-65,0,0
1058275,2013-01-22,1115,1,False,0,11,-62,21,-66,0,0
1058276,2013-01-21,1115,1,False,0,10,-63,20,-67,0,0
1058277,2013-01-20,1115,0,False,0,9,-64,19,-68,9,-1
1058278,2013-01-19,1115,0,False,0,8,-65,18,-69,8,-2
1058279,2013-01-18,1115,0,False,0,7,-66,17,-70,7,-3
1058280,2013-01-17,1115,0,False,0,6,-67,16,-71,6,-4
1058281,2013-01-16,1115,0,False,0,5,-68,15,-72,5,-5
1058282,2013-01-15,1115,0,False,0,4,-69,14,-73,4,-6
1058283,2013-01-14,1115,0,False,0,3,-70,13,-74,3,-7
1058284,2013-01-13,1115,0,False,0,2,-71,12,-75,2,-8
1058285,2013-01-12,1115,0,False,0,1,-72,11,-76,1,-9
1058286,2013-01-11,1115,1,False,1,0,0,10,-77,0,0
1058287,2013-01-10,1115,1,False,1,0,0,9,-78,0,0
1058288,2013-01-09,1115,1,False,1,0,0,8,-79,0,0
1058289,2013-01-08,1115,1,False,1,0,0,7,-80,0,0
1058290,2013-01-07,1115,1,False,1,0,0,6,-81,0,0
1058291,2013-01-06,1115,0,False,1,0,0,5,-82,0,-1
1058292,2013-01-05,1115,0,False,1,0,0,4,-83,0,-2
1058293,2013-01-04,1115,0,False,1,0,0,3,-84,0,-3
1058294,2013-01-03,1115,0,False,1,0,0,2,-85,0,-4
1058295,2013-01-02,1115,0,False,1,0,0,1,-86,0,-5
1058296,2013-01-01,1115,0,True,1,0,0,0,0,0,-6

Now we'll merge these values onto the df.

In [71]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [72]:
df

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,1,False,0,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,1,False,0,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,1,False,0,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,1,False,0,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,0,False,0,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0
5,2015-09-12,1,0,False,0,8,0,100,0,8,-2,0.0,0.0,0.0,0.0,0.0,4.0
6,2015-09-11,1,0,False,0,7,0,99,0,7,-3,0.0,0.0,0.0,0.0,0.0,4.0
7,2015-09-10,1,0,False,0,6,0,98,0,6,-4,1.0,0.0,1.0,0.0,0.0,3.0
8,2015-09-09,1,0,False,0,5,0,97,0,5,-5,2.0,0.0,2.0,0.0,0.0,2.0
9,2015-09-08,1,0,False,0,4,0,96,0,4,-6,3.0,0.0,3.0,0.0,0.0,1.0
10,2015-09-07,1,0,False,0,3,0,95,0,3,-7,4.0,0.0,4.0,0.0,0.0,0.0
11,2015-09-06,1,0,False,0,2,0,94,0,2,-8,5.0,0.0,5.0,0.0,0.0,0.0
12,2015-09-05,1,0,False,0,1,0,93,0,1,-9,6.0,0.0,5.0,0.0,0.0,0.0
13,2015-09-04,1,1,False,1,0,0,92,0,0,0,7.0,0.0,5.0,1.0,0.0,1.0
14,2015-09-03,1,1,False,1,0,0,91,0,0,0,7.0,0.0,4.0,2.0,0.0,2.0
15,2015-09-02,1,1,False,1,0,0,90,0,0,0,7.0,0.0,3.0,3.0,0.0,3.0
16,2015-09-01,1,1,False,1,0,0,89,0,0,0,7.0,0.0,2.0,4.0,0.0,4.0
17,2015-08-31,1,1,False,1,0,0,88,0,0,0,7.0,0.0,1.0,5.0,0.0,5.0
18,2015-08-30,1,0,False,1,0,0,87,0,9,-1,7.0,0.0,0.0,6.0,0.0,5.0
19,2015-08-29,1,0,False,1,0,0,86,0,8,-2,7.0,0.0,0.0,7.0,0.0,5.0
20,2015-08-28,1,0,False,1,0,0,85,0,7,-3,7.0,0.0,0.0,7.0,0.0,4.0
21,2015-08-27,1,0,False,1,0,0,84,0,6,-4,7.0,0.0,1.0,7.0,0.0,3.0
22,2015-08-26,1,0,False,1,0,0,83,0,5,-5,7.0,0.0,2.0,7.0,0.0,2.0
23,2015-08-25,1,0,False,1,0,0,82,0,4,-6,7.0,0.0,3.0,7.0,0.0,1.0
24,2015-08-24,1,0,False,1,0,0,81,0,3,-7,7.0,0.0,4.0,7.0,0.0,0.0
25,2015-08-23,1,0,False,1,0,0,80,0,2,-8,7.0,0.0,5.0,7.0,0.0,0.0
26,2015-08-22,1,0,False,1,0,0,79,0,1,-9,7.0,0.0,5.0,7.0,0.0,0.0
27,2015-08-21,1,1,False,1,0,0,78,0,0,0,7.0,0.0,5.0,7.0,0.0,1.0
28,2015-08-20,1,1,False,1,0,0,77,0,0,0,7.0,0.0,4.0,7.0,0.0,2.0
29,2015-08-19,1,1,False,1,0,0,76,0,0,0,7.0,0.0,3.0,7.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058267,2013-01-30,1115,0,False,0,19,-54,29,-58,5,-5,0.0,0.0,2.0,0.0,0.0,2.0
1058268,2013-01-29,1115,0,False,0,18,-55,28,-59,4,-6,0.0,0.0,3.0,0.0,0.0,1.0
1058269,2013-01-28,1115,0,False,0,17,-56,27,-60,3,-7,0.0,0.0,4.0,0.0,0.0,0.0
1058270,2013-01-27,1115,0,False,0,16,-57,26,-61,2,-8,0.0,0.0,5.0,0.0,0.0,0.0
1058271,2013-01-26,1115,0,False,0,15,-58,25,-62,1,-9,0.0,0.0,5.0,0.0,0.0,0.0
1058272,2013-01-25,1115,1,False,0,14,-59,24,-63,0,0,0.0,0.0,5.0,0.0,0.0,1.0
1058273,2013-01-24,1115,1,False,0,13,-60,23,-64,0,0,0.0,0.0,4.0,0.0,0.0,2.0
1058274,2013-01-23,1115,1,False,0,12,-61,22,-65,0,0,0.0,0.0,3.0,0.0,0.0,3.0
1058275,2013-01-22,1115,1,False,0,11,-62,21,-66,0,0,0.0,0.0,2.0,0.0,0.0,4.0
1058276,2013-01-21,1115,1,False,0,10,-63,20,-67,0,0,0.0,0.0,1.0,0.0,0.0,5.0
1058277,2013-01-20,1115,0,False,0,9,-64,19,-68,9,-1,0.0,0.0,0.0,0.0,0.0,5.0
1058278,2013-01-19,1115,0,False,0,8,-65,18,-69,8,-2,0.0,0.0,0.0,0.0,0.0,5.0
1058279,2013-01-18,1115,0,False,0,7,-66,17,-70,7,-3,0.0,0.0,0.0,0.0,0.0,4.0
1058280,2013-01-17,1115,0,False,0,6,-67,16,-71,6,-4,1.0,0.0,1.0,0.0,0.0,3.0
1058281,2013-01-16,1115,0,False,0,5,-68,15,-72,5,-5,2.0,0.0,2.0,0.0,0.0,2.0
1058282,2013-01-15,1115,0,False,0,4,-69,14,-73,4,-6,3.0,0.0,3.0,0.0,0.0,1.0
1058283,2013-01-14,1115,0,False,0,3,-70,13,-74,3,-7,4.0,0.0,4.0,0.0,0.0,0.0
1058284,2013-01-13,1115,0,False,0,2,-71,12,-75,2,-8,5.0,0.0,5.0,0.0,0.0,0.0
1058285,2013-01-12,1115,0,False,0,1,-72,11,-76,1,-9,6.0,0.0,5.0,0.0,0.0,0.0
1058286,2013-01-11,1115,1,False,1,0,0,10,-77,0,0,7.0,0.0,5.0,1.0,0.0,1.0
1058287,2013-01-10,1115,1,False,1,0,0,9,-78,0,0,7.0,0.0,4.0,2.0,0.0,2.0
1058288,2013-01-09,1115,1,False,1,0,0,8,-79,0,0,7.0,0.0,3.0,3.0,0.0,3.0
1058289,2013-01-08,1115,1,False,1,0,0,7,-80,0,0,7.0,0.0,2.0,4.0,0.0,4.0
1058290,2013-01-07,1115,1,False,1,0,0,6,-81,0,0,7.0,1.0,1.0,5.0,0.0,5.0
1058291,2013-01-06,1115,0,False,1,0,0,5,-82,0,-1,6.0,1.0,0.0,6.0,0.0,5.0
1058292,2013-01-05,1115,0,False,1,0,0,4,-83,0,-2,5.0,1.0,0.0,7.0,0.0,5.0
1058293,2013-01-04,1115,0,False,1,0,0,3,-84,0,-3,4.0,1.0,0.0,7.0,0.0,4.0
1058294,2013-01-03,1115,0,False,1,0,0,2,-85,0,-4,3.0,1.0,0.0,7.0,0.0,3.0
1058295,2013-01-02,1115,0,False,1,0,0,1,-86,0,-5,2.0,1.0,0.0,7.0,0.0,2.0
1058296,2013-01-01,1115,0,True,1,0,0,0,0,0,-6,1.0,1.0,0.0,7.0,1.0,1.0

In [73]:
df.drop(columns,1,inplace=True)

In [74]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0